{
  "openapi": "3.1.0",
  "info": {
    "title": "Rigbox Auth API",
    "description": "Auth-service-owned public API surface exported for gateway composition.",
    "contact": {
      "name": "Rigbox",
      "url": "https://rigbox.dev"
    },
    "license": {
      "name": ""
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.rigbox.dev",
      "description": "Production gateway"
    }
  ],
  "paths": {
    "/api/v1/access-control/bindings": {
      "get": {
        "tags": [
          "Access Control"
        ],
        "summary": "List role bindings.",
        "description": "List the role bindings (principal, role, resource) configured on your account.",
        "operationId": "list_bindings",
        "parameters": [
          {
            "name": "resource",
            "in": "query",
            "description": "Canonical resource ref",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bindings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BindingsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Access Control"
        ],
        "summary": "Create a role binding.",
        "description": "Create a role binding granting a principal a role on a resource.",
        "operationId": "create_binding",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBindingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Binding created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessBinding"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Access Control"
        ],
        "summary": "Delete a role binding.",
        "description": "Delete a role binding, revoking that principal's access to the resource.",
        "operationId": "delete_binding",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteBindingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Binding deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessControlDeleteResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Access Control"
        ],
        "summary": "Update a role binding.",
        "description": "Update an existing role binding, changing its role or resource scope.",
        "operationId": "update_binding",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBindingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Binding updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessBinding"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/access-control/principals": {
      "get": {
        "tags": [
          "Access Control"
        ],
        "summary": "List principals.",
        "description": "List the principals on your account that can be granted access-control roles.",
        "operationId": "search_principals",
        "parameters": [
          {
            "name": "resource",
            "in": "query",
            "description": "Canonical resource ref",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Email or display-name search text",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Optional result limit",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Principals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrincipalLookupResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/access-control/role-presets": {
      "get": {
        "tags": [
          "Access Control"
        ],
        "summary": "List role presets.",
        "description": "List the built-in role presets and the actions each one grants.",
        "operationId": "list_role_presets",
        "parameters": [
          {
            "name": "scope_kind",
            "in": "query",
            "description": "Optional role preset scope",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Role presets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RolePresetsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/access-control/simulate": {
      "post": {
        "tags": [
          "Access Control"
        ],
        "summary": "Simulate an access decision.",
        "description": "Simulate whether a principal would be allowed an action on a resource.",
        "operationId": "simulate_access",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateAccessRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Simulation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulateAccessResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/access-control/tags": {
      "get": {
        "tags": [
          "Access Control"
        ],
        "summary": "Get access-control tags.",
        "description": "Get the access-control tags attached to a principal or resource.",
        "operationId": "get_tags",
        "parameters": [
          {
            "name": "resource",
            "in": "query",
            "description": "Canonical resource ref",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Access Control"
        ],
        "summary": "Set access-control tags.",
        "description": "Set the access-control tags on a principal or resource.",
        "operationId": "put_tags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTagsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tags updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/access-control/throttle-binding": {
      "get": {
        "tags": [
          "Access Control"
        ],
        "summary": "Get a resource's throttle binding.",
        "description": "Get the throttle (rate-limit) preset bound to a resource.",
        "operationId": "get_throttle_binding",
        "parameters": [
          {
            "name": "resource",
            "in": "query",
            "description": "Canonical resource ref",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Throttle binding",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleBindingResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Access Control"
        ],
        "summary": "Set a resource's throttle binding.",
        "description": "Bind a throttle (rate-limit) preset to a resource.",
        "operationId": "put_throttle_binding",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateThrottleBindingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Throttle binding updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleBindingResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/access-control/throttle-presets": {
      "get": {
        "tags": [
          "Access Control"
        ],
        "summary": "List throttle presets.",
        "description": "List the available throttle presets and their rate-limit settings.",
        "operationId": "list_throttle_presets",
        "parameters": [
          {
            "name": "resource",
            "in": "query",
            "description": "Canonical resource ref",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Throttle presets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottlePresetsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/api-keys": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "summary": "List your API keys.",
        "description": "List your account's API keys (metadata only; secrets are never returned).",
        "operationId": "list_api_keys",
        "parameters": [
          {
            "name": "max_results",
            "in": "query",
            "description": "Maximum items to return. Clamped to `[1, MAX_LIMIT]`. Default 50.\n\nDeserialized leniently from a string: axum's `Query` (serde_urlencoded)\ncannot coerce a *flattened* numeric field, so a struct that\n`#[serde(flatten)]`s `PageParams` (e.g. `ListAppsQuery`) would otherwise\nfail with \"invalid type: string, expected u32\" on `?max_results=50`.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor returned by a prior call's `next_cursor`. Omit on the\nfirst page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API keys page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_ApiKeyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Create an API key.",
        "description": "Create a full-account API key; the plaintext secret is returned only once.",
        "operationId": "create_api_key",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiKeyResponseFull"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/api-keys/{id}": {
      "delete": {
        "tags": [
          "API Keys"
        ],
        "summary": "Revoke an API key.",
        "description": "Revoke an API key by ID; requests using it stop working immediately.",
        "operationId": "delete_api_key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthMessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/account": {
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete the account and everything it owns.",
        "description": "Immediately disables the account, revokes its credentials and starts deleting its workspaces, apps, snapshots, published recipes, Stripe customer and sign-in identity. `confirm_email` must equal the account email (case-insensitive). Cannot be undone.",
        "operationId": "delete_account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmAccountDeletion"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Deletion started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDeletionAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Missing or mismatched confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Credential cannot delete the account, or the account is disabled (`Account disabled`) or already being deleted (`Account deleted`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "A deletion is already in progress",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/account/deletion-preview": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Preview what deleting the account removes.",
        "description": "Counts every resource an account deletion removes, with the subscription, GitHub App and custom-domain state to warn about. Requires a bearer session or an API key.",
        "operationId": "deletion_preview",
        "responses": {
          "200": {
            "description": "Deletion preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDeletionPreview"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Credential cannot manage the account, or the account is disabled (`Account disabled`) or being deleted (`Account deleted`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/billing/catalog": {
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "catalog",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/billing/change": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "change",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/billing/credit-packs/checkout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "credit_checkout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurchaseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/billing/operations/{operation_id}": {
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "operation_status",
        "parameters": [
          {
            "name": "operation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/billing/wallet/history": {
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "wallet_history",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/change-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "change_password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Password changed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthMessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/clerk-link": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "link",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Both identities proved; reload the console"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/cli-session": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Create a pending CLI session. Called by the CLI before opening the browser.",
        "description": "Open a CLI login session and return a one-time approval code.",
        "operationId": "create_session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCliSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "CLI session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCliSessionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/cli-session/{code}": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Poll a CLI session. Called by the CLI while waiting for browser approval.",
        "description": "Poll a CLI login session for browser approval and its issued API key.",
        "operationId": "poll_session",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "CLI session code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CLI session status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PollCliSessionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/cli-session/{code}/approve": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Approve a CLI session. Called by the web app after the user logs in.",
        "description": "Approve a CLI login session from the browser and mint its API key.",
        "operationId": "approve_session",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "CLI session code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CLI session approved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApproveCliSessionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/create-checkout-session": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "create_checkout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurchaseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/create-portal-session": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "portal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/force-change-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "POST /auth/force-change-password - Used after admin resets a user's password.\nVerifies the temporary password, sets the new one, and clears the must_change_password flag.",
        "operationId": "force_change_password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForceChangePasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Password changed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseWithUser"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/github/app": {
      "get": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "status",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionStatus"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "disconnect",
        "responses": {
          "204": {
            "description": "GitHub disconnected from this account"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/github/app/attempts": {
      "post": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttemptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttemptResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/github/app/attempts/{id}": {
      "get": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttemptResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/github/app/attempts/{id}/deploy": {
      "post": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "deploy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeployRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/github/app/badge-fork": {
      "post": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "fork",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inspection"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/github/app/badge-source": {
      "post": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "source",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadgeSource"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/github/app/branches": {
      "get": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "branches",
        "parameters": [
          {
            "name": "installation_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "repository_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchList"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/github/app/callback": {
      "post": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "callback",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Callback"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionStatus"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/github/app/connect": {
      "post": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "connect",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectUrl"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/github/app/generate": {
      "post": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "generate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/github/app/inspect": {
      "post": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "inspect",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InspectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inspection"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/github/app/manifest-paths": {
      "post": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "manifest_paths",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PathsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManifestPaths"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/github/app/projects": {
      "get": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "list",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectList"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "save",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/github/app/projects/{id}": {
      "delete": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "disconnect",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Disconnected"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/github/app/projects/{id}/retry": {
      "post": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "retry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "409": {
            "description": "Workspace is inactive or not ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/github/app/projects/{id}/secrets": {
      "get": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The secrets the connection's rig.yaml declares, and whether each has a value. Values are never returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretStatus"
                }
              }
            }
          },
          "404": {
            "description": "No such GitHub connection"
          },
          "409": {
            "description": "The connection deploys through GitHub Actions, which reads secrets from its workflow"
          },
          "422": {
            "description": "The branch's rig.yaml does not validate"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSecrets"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Stored; the result lists the names whose value changed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretStatus"
                }
              }
            }
          },
          "400": {
            "description": "A name the branch's rig.yaml does not declare, or an empty or oversized value"
          },
          "404": {
            "description": "No such GitHub connection"
          },
          "409": {
            "description": "The connection deploys through GitHub Actions, or its secrets kept changing during the update"
          },
          "422": {
            "description": "The branch's rig.yaml does not validate"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/github/app/repositories": {
      "get": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "repos",
        "parameters": [
          {
            "name": "installation_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepoList"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/github/app/webhook": {
      "post": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "webhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Event accepted"
          }
        }
      }
    },
    "/api/v1/auth/github/bindings": {
      "get": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "list_bindings",
        "responses": {
          "200": {
            "description": "Account repository bindings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GithubBindingsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Full-account credential required"
          },
          "404": {
            "description": "Feature disabled"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "create_binding",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGithubBindingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Repository binding",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GithubBindingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid repository name"
          },
          "403": {
            "description": "Full-account credential required"
          },
          "404": {
            "description": "Workspace unavailable or feature disabled"
          },
          "409": {
            "description": "Repository already bound"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/github/bindings/{binding_id}": {
      "delete": {
        "tags": [
          "GitHub Deployments"
        ],
        "operationId": "delete_binding",
        "parameters": [
          {
            "name": "binding_id",
            "in": "path",
            "description": "Binding ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "description": "Required target when a repository has several workspace bindings",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Binding deleted and deploy tokens revoked"
          },
          "403": {
            "description": "Full-account credential required"
          },
          "404": {
            "description": "Binding unavailable or feature disabled"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/github/token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "exchange_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExchangeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or replayed GitHub token"
          },
          "403": {
            "description": "No permitted repository binding"
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Logged in",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseWithUser"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "get_me",
        "responses": {
          "200": {
            "description": "Current user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMeResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/signup": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "signup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Signed up",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseWithUser"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "Email already registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/stripe-webhook": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "webhook",
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Durably received Stripe event"
          }
        }
      }
    },
    "/api/v1/auth/subscription-status": {
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "status",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/validate": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "GET /auth/validate - Validate token for forward_auth",
        "operationId": "validate_token",
        "responses": {
          "200": {
            "description": "Token valid"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AccessBinding": {
        "type": "object",
        "required": [
          "principal_ref",
          "resource_ref",
          "role",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_by_ref": {
            "type": [
              "string",
              "null"
            ]
          },
          "principal_ref": {
            "type": "string"
          },
          "resource_ref": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AccessControlDeleteResponse": {
        "type": "object",
        "required": [
          "deleted"
        ],
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "AccountDeletionAccepted": {
        "type": "object",
        "required": [
          "deletion_id",
          "status",
          "message"
        ],
        "properties": {
          "deletion_id": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "AccountDeletionPreview": {
        "type": "object",
        "description": "Everything a deletion would remove, shown before the user confirms.",
        "required": [
          "user_id",
          "email",
          "resource_counts",
          "subscription",
          "github_app_connected",
          "custom_domains",
          "clerk_identities"
        ],
        "properties": {
          "clerk_identities": {
            "type": "integer",
            "format": "int64",
            "description": "Clerk identities recorded for the account: the Clerk users a deletion\nremoves. 0 means any Clerk user must be removed by hand."
          },
          "custom_domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "email": {
            "type": "string"
          },
          "github_app_connected": {
            "type": "boolean"
          },
          "resource_counts": {
            "$ref": "#/components/schemas/AccountResourceCounts"
          },
          "subscription": {
            "$ref": "#/components/schemas/AccountSubscription"
          },
          "user_id": {
            "type": "string"
          }
        }
      },
      "AccountResourceCounts": {
        "type": "object",
        "required": [
          "workspaces",
          "apps",
          "snapshots",
          "volumes",
          "api_keys",
          "ssh_keys",
          "setup_scripts",
          "service_specs",
          "published_recipes",
          "github_repo_bindings",
          "builds"
        ],
        "properties": {
          "api_keys": {
            "type": "integer",
            "format": "int64"
          },
          "apps": {
            "type": "integer",
            "format": "int64"
          },
          "builds": {
            "type": "integer",
            "format": "int64"
          },
          "github_repo_bindings": {
            "type": "integer",
            "format": "int64"
          },
          "published_recipes": {
            "type": "integer",
            "format": "int64"
          },
          "service_specs": {
            "type": "integer",
            "format": "int64"
          },
          "setup_scripts": {
            "type": "integer",
            "format": "int64"
          },
          "snapshots": {
            "type": "integer",
            "format": "int64"
          },
          "ssh_keys": {
            "type": "integer",
            "format": "int64"
          },
          "volumes": {
            "type": "integer",
            "format": "int64"
          },
          "workspaces": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AccountSubscription": {
        "type": "object",
        "required": [
          "active",
          "plan"
        ],
        "properties": {
          "active": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          }
        }
      },
      "ApiErrorBody": {
        "type": "object",
        "description": "JSON body returned for all errors.",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ApiErrorDetail"
          }
        }
      },
      "ApiErrorDetail": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "details": {},
          "message": {
            "type": "string"
          }
        }
      },
      "ApiKeyResponse": {
        "type": "object",
        "required": [
          "id",
          "key_preview",
          "created_at"
        ],
        "properties": {
          "created_at": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "key_preview": {
            "type": "string"
          },
          "last_used_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "ApproveCliSessionResponse": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string"
          }
        }
      },
      "AttemptRequest": {
        "type": "object",
        "required": [
          "id",
          "source",
          "installation_id",
          "repository_id",
          "repository_name",
          "commit",
          "branch",
          "name",
          "content"
        ],
        "properties": {
          "branch": {
            "type": "string"
          },
          "commit": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "deployment_strategy": {
            "type": [
              "string",
              "null"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "installation_id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "replace_binding_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "repository_id": {
            "type": "integer",
            "format": "int64"
          },
          "repository_name": {
            "type": "string"
          },
          "source": {
            "$ref": "#/components/schemas/SourceRequest"
          },
          "workspace_id": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "AttemptResponse": {
        "type": "object",
        "required": [
          "id",
          "workspace_id",
          "existing_workspace",
          "branch",
          "draft"
        ],
        "properties": {
          "branch": {
            "type": "string"
          },
          "draft": {
            "$ref": "#/components/schemas/AttemptRequest"
          },
          "existing_workspace": {
            "type": "boolean"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "result": {},
          "workspace_id": {
            "type": "string"
          }
        }
      },
      "AuthMessageResponse": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "AuthResponseWithUser": {
        "type": "object",
        "required": [
          "token",
          "user"
        ],
        "properties": {
          "must_change_password": {
            "type": "boolean"
          },
          "token": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/UserResponse"
          }
        }
      },
      "BadgeSource": {
        "type": "object",
        "required": [
          "repository",
          "commit",
          "fork_url"
        ],
        "properties": {
          "commit": {
            "type": "string"
          },
          "fork_url": {
            "type": "string"
          },
          "repository": {
            "$ref": "#/components/schemas/Repository"
          }
        }
      },
      "BindingsResponse": {
        "type": "object",
        "required": [
          "bindings"
        ],
        "properties": {
          "bindings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessBinding"
            }
          }
        }
      },
      "Branch": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "BranchList": {
        "type": "object",
        "required": [
          "branches"
        ],
        "properties": {
          "branches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Branch"
            }
          },
          "next_page": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "minimum": 0
          }
        }
      },
      "Build": {
        "type": "object",
        "description": "Index row for one image build. NOT the build log —\nthe log text stays in host journald under `rigbox-build-<build_id>`; this row\njust lets a user enumerate their recent builds (incl. failures) and resolve\neach `build_id` to open its journald log. Owner-scoped.",
        "required": [
          "build_id",
          "owner_user_id",
          "status",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "build_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "description": "Short failure summary — set on failure."
          },
          "image_digest": {
            "type": [
              "string",
              "null"
            ],
            "description": "Content digest of the produced image — set on success."
          },
          "label": {
            "type": [
              "string",
              "null"
            ],
            "description": "Best-effort app/project label from the deploy (the CLI's `rig.yaml` name)."
          },
          "owner_user_id": {
            "type": "string"
          },
          "source_commit": {
            "type": [
              "string",
              "null"
            ],
            "description": "Full git object ID requested for this build; retained on failure."
          },
          "source_kind": {
            "type": [
              "string",
              "null"
            ],
            "description": "`recipe` for every build since Dockerfile/image sources were removed;\nhistorical rows may still read `dockerfile` or `image`."
          },
          "status": {
            "type": "string",
            "description": "`building` while in flight, then `succeeded` | `failed`."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "workspace_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Target workspace; standalone image builds have no workspace."
          }
        }
      },
      "Callback": {
        "type": "object",
        "required": [
          "code",
          "state"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "state": {
            "type": "string"
          }
        }
      },
      "ChangePasswordRequest": {
        "type": "object",
        "required": [
          "current_password",
          "new_password"
        ],
        "properties": {
          "current_password": {
            "type": "string"
          },
          "new_password": {
            "type": "string"
          }
        }
      },
      "ChangeRequest": {
        "type": "object",
        "required": [
          "operation_id",
          "plan",
          "addons"
        ],
        "properties": {
          "addons": {
            "type": "object"
          },
          "operation_id": {
            "type": "string",
            "format": "uuid"
          },
          "plan": {
            "type": "string"
          },
          "return_url": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "ConfirmAccountDeletion": {
        "type": "object",
        "description": "The caller retypes the account email to confirm the deletion.",
        "required": [
          "confirm_email"
        ],
        "properties": {
          "confirm_email": {
            "type": "string",
            "description": "The account email; compared trimmed and case-insensitively.",
            "example": "a@example.com"
          }
        }
      },
      "ConnectUrl": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string"
          }
        }
      },
      "ConnectionStatus": {
        "type": "object",
        "required": [
          "configured",
          "connections"
        ],
        "properties": {
          "configured": {
            "type": "boolean"
          },
          "connections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GithubConnection"
            }
          },
          "install_url": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "CreateApiKeyResponseFull": {
        "type": "object",
        "required": [
          "id",
          "key"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "key": {
            "type": "string"
          }
        }
      },
      "CreateBindingRequest": {
        "type": "object",
        "required": [
          "principal",
          "resource",
          "role"
        ],
        "properties": {
          "principal": {
            "type": "string"
          },
          "resource": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "CreateCliSessionRequest": {
        "type": "object",
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "type": "string"
          }
        }
      },
      "CreateCliSessionResponse": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string"
          }
        }
      },
      "CreateGithubBindingRequest": {
        "type": "object",
        "required": [
          "repository_name",
          "workspace_id"
        ],
        "properties": {
          "repository_name": {
            "type": "string"
          },
          "workspace_id": {
            "type": "string"
          }
        }
      },
      "DeclaredSecret": {
        "type": "object",
        "required": [
          "name",
          "from",
          "optional",
          "set"
        ],
        "properties": {
          "from": {
            "type": "string",
            "description": "The runtime secret its value is stored and supplied under."
          },
          "name": {
            "type": "string",
            "description": "The variable the app sees."
          },
          "optional": {
            "type": "boolean"
          },
          "set": {
            "type": "boolean",
            "description": "Whether the connection holds a value for `from`."
          }
        }
      },
      "DeleteBindingRequest": {
        "type": "object",
        "required": [
          "principal",
          "resource",
          "role"
        ],
        "properties": {
          "principal": {
            "type": "string"
          },
          "resource": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "DeployRequest": {
        "type": "object",
        "required": [
          "content",
          "allow_reimage"
        ],
        "properties": {
          "allow_reimage": {
            "type": "boolean"
          },
          "confirm_strategy_change": {
            "type": "boolean"
          },
          "content": {
            "type": "string"
          },
          "deployment_strategy": {
            "type": [
              "string",
              "null"
            ]
          },
          "secrets": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            },
            "propertyNames": {
              "type": "string"
            }
          }
        }
      },
      "ExchangeRequest": {
        "type": "object",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "ExchangeResponse": {
        "type": "object",
        "required": [
          "token",
          "expires_at",
          "workspace_id",
          "repository",
          "source_ref",
          "source_commit",
          "ci_run_url",
          "repository_private"
        ],
        "properties": {
          "ci_run_url": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "repository": {
            "type": "string"
          },
          "repository_private": {
            "type": "boolean"
          },
          "source_commit": {
            "type": "string"
          },
          "source_ref": {
            "type": "string"
          },
          "token": {
            "type": "string"
          },
          "workspace_id": {
            "type": "string"
          }
        }
      },
      "ForceChangePasswordRequest": {
        "type": "object",
        "required": [
          "email",
          "temporary_password",
          "new_password"
        ],
        "properties": {
          "email": {
            "type": "string"
          },
          "new_password": {
            "type": "string"
          },
          "temporary_password": {
            "type": "string"
          }
        }
      },
      "ForkRequest": {
        "type": "object",
        "required": [
          "source_repository_id",
          "installation_id",
          "repository_id",
          "branch",
          "manifest_path"
        ],
        "properties": {
          "branch": {
            "type": "string"
          },
          "installation_id": {
            "type": "integer",
            "format": "int64"
          },
          "manifest_path": {
            "type": "string"
          },
          "repository_id": {
            "type": "integer",
            "format": "int64"
          },
          "source_repository_id": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "GenerateRequest": {
        "type": "object",
        "required": [
          "repository",
          "branch",
          "settings"
        ],
        "properties": {
          "branch": {
            "type": "string"
          },
          "existing": {
            "type": [
              "string",
              "null"
            ]
          },
          "repository": {
            "type": "string"
          },
          "settings": {
            "$ref": "#/components/schemas/Settings"
          }
        }
      },
      "GetMeResponse": {
        "type": "object",
        "required": [
          "user"
        ],
        "properties": {
          "user": {
            "$ref": "#/components/schemas/UserResponse"
          }
        }
      },
      "GithubBindingResponse": {
        "type": "object",
        "required": [
          "binding"
        ],
        "properties": {
          "binding": {
            "$ref": "#/components/schemas/GithubRepoBinding"
          }
        }
      },
      "GithubBindingsResponse": {
        "type": "object",
        "required": [
          "bindings"
        ],
        "properties": {
          "bindings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GithubRepoBinding"
            }
          }
        }
      },
      "GithubConnection": {
        "type": "object",
        "required": [
          "user_id",
          "installation_id",
          "github_user_id",
          "github_login",
          "account_login"
        ],
        "properties": {
          "account_login": {
            "type": "string"
          },
          "github_login": {
            "type": "string"
          },
          "github_user_id": {
            "type": "integer",
            "format": "int64"
          },
          "installation_id": {
            "type": "integer",
            "format": "int64"
          },
          "user_id": {
            "type": "string"
          }
        }
      },
      "GithubJob": {
        "type": "object",
        "required": [
          "builds",
          "id",
          "binding_id",
          "source_commit",
          "source_ref",
          "status",
          "created_at"
        ],
        "properties": {
          "binding_id": {
            "type": "string",
            "format": "uuid"
          },
          "builds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Build"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "message": {
            "type": [
              "string",
              "null"
            ]
          },
          "source_commit": {
            "type": "string"
          },
          "source_ref": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "GithubProject": {
        "type": "object",
        "required": [
          "id",
          "user_id",
          "workspace_id",
          "repository_name",
          "deployment_mode",
          "deployment_strategy",
          "production_branch",
          "manifest_path",
          "allow_reimage"
        ],
        "properties": {
          "allow_reimage": {
            "type": "boolean"
          },
          "deployment_mode": {
            "type": "string"
          },
          "deployment_strategy": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "installation_id": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "manifest_path": {
            "type": "string"
          },
          "production_branch": {
            "type": "string"
          },
          "repository_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "repository_name": {
            "type": "string"
          },
          "repository_owner_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "user_id": {
            "type": "string"
          },
          "workspace_id": {
            "type": "string"
          }
        }
      },
      "GithubRepoBinding": {
        "type": "object",
        "required": [
          "id",
          "user_id",
          "workspace_id",
          "repository_name",
          "status",
          "claim_expires_at",
          "created_at"
        ],
        "properties": {
          "claim_expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "repository_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "repository_name": {
            "type": "string"
          },
          "repository_owner_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "workspace_id": {
            "type": "string"
          }
        }
      },
      "InspectRequest": {
        "type": "object",
        "required": [
          "installation_id",
          "repository_id",
          "branch",
          "manifest_path"
        ],
        "properties": {
          "branch": {
            "type": "string"
          },
          "installation_id": {
            "type": "integer",
            "format": "int64"
          },
          "manifest_path": {
            "type": "string"
          },
          "repository_id": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Inspection": {
        "type": "object",
        "required": [
          "repository",
          "commit",
          "settings",
          "requires_pull_request",
          "manifest_paths"
        ],
        "properties": {
          "commit": {
            "type": "string"
          },
          "content": {
            "type": [
              "string",
              "null"
            ]
          },
          "manifest_paths": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "repository": {
            "$ref": "#/components/schemas/Repository"
          },
          "requires_pull_request": {
            "type": "boolean"
          },
          "settings": {
            "$ref": "#/components/schemas/Settings"
          }
        }
      },
      "LinkRequest": {
        "type": "object",
        "required": [
          "account_email",
          "current_password"
        ],
        "properties": {
          "account_email": {
            "type": "string"
          },
          "current_password": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "LoginRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "ManifestPaths": {
        "type": "object",
        "required": [
          "paths"
        ],
        "properties": {
          "paths": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Owner": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Page_ApiKeyResponse": {
        "type": "object",
        "description": "Paginated response envelope. `next_cursor: None` ⇒ last page.",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "key_preview",
                "created_at"
              ],
              "properties": {
                "created_at": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "key_preview": {
                  "type": "string"
                },
                "last_used_at": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "name": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              }
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "PathsRequest": {
        "type": "object",
        "required": [
          "installation_id",
          "repository_id",
          "branch"
        ],
        "properties": {
          "branch": {
            "type": "string"
          },
          "installation_id": {
            "type": "integer",
            "format": "int64"
          },
          "repository_id": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "PollCliSessionResponse": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "api_key": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          }
        }
      },
      "PortalRequest": {
        "type": "object",
        "properties": {
          "return_url": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "PrincipalLookupResponse": {
        "type": "object",
        "required": [
          "principals"
        ],
        "properties": {
          "principals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PrincipalLookupResult"
            }
          }
        }
      },
      "PrincipalLookupResult": {
        "type": "object",
        "required": [
          "principal",
          "user_id",
          "email"
        ],
        "properties": {
          "display_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": "string"
          },
          "principal": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          }
        }
      },
      "ProjectList": {
        "type": "object",
        "required": [
          "projects",
          "jobs"
        ],
        "properties": {
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GithubJob"
            }
          },
          "projects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GithubProject"
            }
          }
        }
      },
      "PurchaseRequest": {
        "type": "object",
        "required": [
          "operation_id"
        ],
        "properties": {
          "cancel_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "operation_id": {
            "type": "string",
            "format": "uuid"
          },
          "plan": {
            "type": [
              "string",
              "null"
            ]
          },
          "return_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "success_url": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "RepoList": {
        "type": "object",
        "required": [
          "repositories"
        ],
        "properties": {
          "next_page": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "minimum": 0
          },
          "repositories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Repository"
            }
          }
        }
      },
      "Repository": {
        "type": "object",
        "required": [
          "id",
          "full_name",
          "default_branch",
          "private",
          "owner"
        ],
        "properties": {
          "default_branch": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "owner": {
            "$ref": "#/components/schemas/Owner"
          },
          "private": {
            "type": "boolean"
          }
        }
      },
      "RolePreset": {
        "type": "object",
        "required": [
          "scope_kind",
          "role",
          "permissions",
          "required_resource_tags",
          "match_tag_keys",
          "system_managed",
          "updated_at"
        ],
        "properties": {
          "match_tag_keys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "required_resource_tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "propertyNames": {
              "type": "string"
            }
          },
          "role": {
            "type": "string"
          },
          "scope_kind": {
            "type": "string"
          },
          "system_managed": {
            "type": "boolean"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RolePresetsResponse": {
        "type": "object",
        "required": [
          "presets"
        ],
        "properties": {
          "presets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RolePreset"
            }
          }
        }
      },
      "SaveRequest": {
        "type": "object",
        "required": [
          "installation_id",
          "repository_id",
          "workspace_id",
          "branch",
          "manifest_path",
          "expected_commit",
          "content",
          "pull_request",
          "deployment_mode",
          "allow_reimage"
        ],
        "properties": {
          "allow_reimage": {
            "type": "boolean"
          },
          "branch": {
            "type": "string"
          },
          "confirm_strategy_change": {
            "type": "boolean"
          },
          "content": {
            "type": "string"
          },
          "deployment_mode": {
            "type": "string"
          },
          "deployment_strategy": {
            "type": [
              "string",
              "null"
            ]
          },
          "expected_commit": {
            "type": "string"
          },
          "installation_id": {
            "type": "integer",
            "format": "int64"
          },
          "manifest_path": {
            "type": "string"
          },
          "pull_request": {
            "type": "boolean"
          },
          "replace_binding_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "repository_id": {
            "type": "integer",
            "format": "int64"
          },
          "secrets": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            },
            "propertyNames": {
              "type": "string"
            }
          },
          "workspace_id": {
            "type": "string"
          }
        }
      },
      "SecretStatus": {
        "type": "object",
        "required": [
          "binding_id",
          "workspace_id",
          "repository",
          "branch",
          "manifest_path",
          "commit",
          "secrets"
        ],
        "properties": {
          "binding_id": {
            "type": "string",
            "format": "uuid",
            "description": "The GitHub connection (repository binding) the secrets belong to."
          },
          "branch": {
            "type": "string"
          },
          "commit": {
            "type": "string",
            "description": "The branch head whose rig.yaml declared `secrets`."
          },
          "manifest_path": {
            "type": "string"
          },
          "repository": {
            "type": "string"
          },
          "secrets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeclaredSecret"
            }
          },
          "updated": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Update only: the names whose stored value this request changed."
          },
          "workspace_id": {
            "type": "string"
          }
        }
      },
      "Settings": {
        "type": "object",
        "required": [
          "name",
          "port",
          "start",
          "install"
        ],
        "properties": {
          "build": {
            "type": [
              "string",
              "null"
            ]
          },
          "install": {
            "type": "string"
          },
          "memory_mb": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "minimum": 0
          },
          "name": {
            "type": "string"
          },
          "port": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "start": {
            "type": "string"
          }
        }
      },
      "SignupRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "password": {
            "type": "string"
          }
        }
      },
      "SimulateAccessRequest": {
        "type": "object",
        "required": [
          "resource",
          "action"
        ],
        "properties": {
          "action": {
            "type": "string"
          },
          "principal": {
            "type": [
              "string",
              "null"
            ]
          },
          "resource": {
            "type": "string"
          }
        }
      },
      "SimulateAccessResponse": {
        "type": "object",
        "required": [
          "principal",
          "resource",
          "action",
          "allowed",
          "reason"
        ],
        "properties": {
          "action": {
            "type": "string"
          },
          "allowed": {
            "type": "boolean"
          },
          "principal": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "resource": {
            "type": "string"
          }
        }
      },
      "SourceRequest": {
        "type": "object",
        "required": [
          "repository",
          "branch",
          "manifest_path"
        ],
        "properties": {
          "branch": {
            "type": "string"
          },
          "manifest_path": {
            "type": "string"
          },
          "repository": {
            "type": "string"
          }
        }
      },
      "TagsResponse": {
        "type": "object",
        "required": [
          "resource",
          "tags"
        ],
        "properties": {
          "resource": {
            "type": "string"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "propertyNames": {
              "type": "string"
            }
          }
        }
      },
      "ThrottleBindingResponse": {
        "type": "object",
        "required": [
          "resource"
        ],
        "properties": {
          "profile": {
            "type": [
              "string",
              "null"
            ]
          },
          "resource": {
            "type": "string"
          }
        }
      },
      "ThrottlePreset": {
        "type": "object",
        "required": [
          "name",
          "rules",
          "system_managed",
          "updated_at"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "rules": {},
          "system_managed": {
            "type": "boolean"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ThrottlePresetsResponse": {
        "type": "object",
        "required": [
          "presets"
        ],
        "properties": {
          "presets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ThrottlePreset"
            }
          }
        }
      },
      "UpdateBindingRequest": {
        "type": "object",
        "required": [
          "principal",
          "resource",
          "current_role",
          "new_role"
        ],
        "properties": {
          "current_role": {
            "type": "string"
          },
          "new_role": {
            "type": "string"
          },
          "principal": {
            "type": "string"
          },
          "resource": {
            "type": "string"
          }
        }
      },
      "UpdateSecrets": {
        "type": "object",
        "required": [
          "secrets"
        ],
        "properties": {
          "secrets": {
            "type": "object",
            "description": "Values keyed by the runtime-secret names rig.yaml declares (each\nentry's `from:`, else its name). Merged into the stored secrets:\nnames not supplied keep their values.",
            "additionalProperties": {
[...]
