{
  "openapi": "3.1.0",
  "info": {
    "title": "Rigbox API",
    "description": "Manage workspaces, apps, snapshots, tools, and more on the Rigbox platform.",
    "contact": {
      "name": "Rigbox",
      "url": "https://rigbox.dev"
    },
    "license": {
      "name": ""
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.rigbox.dev",
      "description": "Production (EU-West, auto-routed)"
    }
  ],
  "paths": {
    "/api/v1/app-catalog": {
      "get": {
        "tags": [
          "App Catalog"
        ],
        "summary": "List all available catalog apps.",
        "operationId": "list_catalog",
        "responses": {
          "200": {
            "description": "List of available catalog app items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apps": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "List all apps for the authenticated user.",
        "operationId": "list_apps",
        "responses": {
          "200": {
            "description": "List of user apps",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAppsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Create a new app.",
        "operationId": "create_app",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "App created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "Name or subdomain conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get an app by ID.",
        "operationId": "get_app",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID (e.g. app-xxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Apps"
        ],
        "summary": "Delete an app.",
        "operationId": "delete_app",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "Managed app (requires ?force=true)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Apps"
        ],
        "summary": "Update an app.",
        "operationId": "update_app",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "App updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "Name conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/health": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Check if an app's URL is live by verifying actual content is served,\nand probe the underlying service and port status.",
        "description": "Returns `live` (HTTP reachable), `service_status` (service state),\nand `port_open` (whether the port is bound).",
        "operationId": "check_app_health",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App health",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppHealthResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/log-sources": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "List log sources for an app.",
        "operationId": "list_app_log_sources",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Log sources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAppLogSourcesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Logs"
        ],
        "summary": "Create a log source for an app.",
        "operationId": "create_app_log_source",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppLogSourceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Log source created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppLogSourceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/log-sources/{source_id}": {
      "delete": {
        "tags": [
          "Logs"
        ],
        "summary": "Delete a log source.",
        "operationId": "delete_app_log_source",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source_id",
            "in": "path",
            "description": "Source ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Log source deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Logs"
        ],
        "summary": "Update a log source.",
        "operationId": "update_app_log_source",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source_id",
            "in": "path",
            "description": "Source ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppLogSourceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Log source updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppLogSourceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/logs": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "Fetch logs for an app.",
        "operationId": "get_app_logs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App logs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppLogsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/logs/stream": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "Stream app logs via Server-Sent Events.",
        "operationId": "stream_app_logs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE log stream"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/metrics": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get app time-series metrics.",
        "operationId": "get_app_metrics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Metrics range: 1h, 6h, 24h, or 7d",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AppMetricsRange"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppMetricsResponse"
                }
              }
            }
          },
          "502": {
            "description": "Prometheus returned an invalid response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "Prometheus unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/metrics/summary": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get app summary metrics.",
        "operationId": "get_app_metrics_summary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Metrics range: 1h, 6h, 24h, or 7d",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AppMetricsRange"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App metrics summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppMetricsSummaryResponse"
                }
              }
            }
          },
          "502": {
            "description": "Prometheus returned an invalid response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "Prometheus unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/params": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get configurable parameters for an app.",
        "operationId": "get_app_params",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App params",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppParamsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Apps"
        ],
        "summary": "Update configurable parameters for an app.",
        "operationId": "update_app_params",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppParamsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "App params updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/restart": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Restart an app's service.",
        "operationId": "restart_app_service",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service restarted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceActionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/start": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Start an app's service.",
        "operationId": "start_app_service",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceActionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/stop": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Stop an app's service.",
        "operationId": "stop_app_service",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service stopped",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceActionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/verify-domain": {
      "post": {
        "summary": "POST /api/v1/apps/:id/verify-domain - re-check DNS for the app's custom domain.",
        "operationId": "verify_domain",
        "responses": {
          "200": {
            "description": "Verification result"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/catalog": {
      "get": {
        "tags": [
          "App Catalog"
        ],
        "summary": "List exact deployable catalog refs for the current user.",
        "operationId": "list_versioned_catalog",
        "responses": {
          "200": {
            "description": "Versioned official and community catalog items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityCatalogResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/catalog/detail": {
      "get": {
        "tags": [
          "App Catalog"
        ],
        "summary": "Get one exact deployable catalog ref for the current user.",
        "operationId": "get_versioned_catalog_detail",
        "parameters": [
          {
            "name": "ref",
            "in": "query",
            "description": "Exact deploy ref, e.g. @rigbox/filebrowser@builtin or @alice/pgweb@1.2.3",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versioned catalog item detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityCatalogDetailResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/compositions": {
      "get": {
        "tags": [
          "Community"
        ],
        "summary": "List published community workspace compositions the current user can see.",
        "description": "Returns the caller's own items first (any visibility), then community-visible\nitems filtered by the caller's `community_items_preference`.",
        "operationId": "list_compositions",
        "responses": {
          "200": {
            "description": "Published community compositions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityCompositionListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Community"
        ],
        "summary": "Publish a private or Community workspace composition version.",
        "operationId": "publish_composition",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishCommunityCompositionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Composition published",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishCommunityCompositionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/compositions/{vendor}/{slug}/{version}": {
      "delete": {
        "tags": [
          "Community"
        ],
        "summary": "Unpublish a community composition version. Only the owning vendor can delete.\nBuilt-in compositions (`vendor=rigbox`) cannot be deleted.",
        "operationId": "delete_composition",
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "Vendor username",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "Composition slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Exact version (semver)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Composition version deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not the vendor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/compositions/{vendor}/{slug}/{version}/deprecate": {
      "post": {
        "tags": [
          "Community"
        ],
        "summary": "Deprecate a community composition version. Only the owning vendor can mutate it.",
        "operationId": "deprecate_composition",
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "Vendor username",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "Composition slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Exact version (semver)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Composition version deprecated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityCompositionLifecycleResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/compositions/{vendor}/{slug}/{version}/yank": {
      "post": {
        "tags": [
          "Community"
        ],
        "summary": "Yank a community composition version. Only the owning vendor can mutate it.",
        "operationId": "yank_composition",
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "Vendor username",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "Composition slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Exact version (semver)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Composition version yanked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityCompositionLifecycleResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/installs/by-app/{app_id}": {
      "get": {
        "tags": [
          "Community"
        ],
        "summary": "Get the current user's community install record for an installed app.",
        "operationId": "get_community_install_by_app",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "Installed app ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Community install record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityInstallResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/profile": {
      "get": {
        "tags": [
          "Community"
        ],
        "summary": "Get the current user's community profile and catalog preference.",
        "operationId": "get_community_profile",
        "responses": {
          "200": {
            "description": "Community profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityProfileResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Community"
        ],
        "summary": "Update the current user's community username or catalog preference.",
        "operationId": "update_community_profile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCommunityProfileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated community profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityProfileResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/recipes": {
      "get": {
        "tags": [
          "Community"
        ],
        "summary": "List published community app recipes the current user can see.",
        "description": "Returns the user's own items first (any visibility) then community-visible\nitems filtered by the caller's `community_items_preference`.",
        "operationId": "list_recipes",
        "responses": {
          "200": {
            "description": "Published community recipes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityCatalogResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Community"
        ],
        "summary": "Publish a private or Community app recipe version.",
        "operationId": "publish_recipe",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishCommunityRecipeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Recipe published",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishCommunityRecipeResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/recipes/{vendor}/{slug}/{version}": {
      "delete": {
        "tags": [
          "Community"
        ],
        "summary": "Unpublish a community recipe version. Only the owning vendor can delete.\nBuilt-in recipes (`vendor=rigbox`) cannot be deleted.",
        "operationId": "delete_recipe",
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "Vendor username",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "Recipe slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Exact version (semver)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recipe version deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not the vendor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/recipes/{vendor}/{slug}/{version}/deprecate": {
      "post": {
        "tags": [
          "Community"
        ],
        "summary": "Deprecate a community recipe version. Only the owning vendor can mutate it.",
        "operationId": "deprecate_recipe",
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "Vendor username",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "Recipe slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Exact version (semver)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recipe version deprecated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityRecipeLifecycleResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/recipes/{vendor}/{slug}/{version}/yank": {
      "post": {
        "tags": [
          "Community"
        ],
        "summary": "Yank a community recipe version. Only the owning vendor can mutate it.",
        "operationId": "yank_recipe",
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "Vendor username",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "Recipe slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Exact version (semver)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recipe version yanked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityRecipeLifecycleResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/registry/health": {
      "get": {
        "tags": [
          "Community"
        ],
        "summary": "Get aggregate community registry health and adoption metrics.",
        "operationId": "get_registry_health",
        "responses": {
          "200": {
            "description": "Community registry health",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityRegistryHealthResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/registry/verified-webhook": {
      "post": {
        "tags": [
          "Community"
        ],
        "summary": "Promote exact community recipe versions to Verified.",
        "description": "This endpoint is intended for the future public `rigbox-dev/registry`\nrepository CI/webhook flow. The request body is a normalized allowlist\ndelta, signed with GitHub-style `X-Hub-Signature-256`.",
        "operationId": "promote_verified_versions",
        "parameters": [
          {
            "name": "x-github-delivery",
            "in": "header",
            "description": "Unique webhook delivery/event ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-hub-signature-256",
            "in": "header",
            "description": "sha256=<hex HMAC of the raw body>",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifiedPromotionWebhookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Verified promotion webhook processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifiedPromotionWebhookResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dashboard": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Get composite dashboard data.",
        "description": "Fetches workspaces, apps, limits, and AI credits in parallel and returns\nthem in a single JSON response.",
        "operationId": "get_dashboard",
        "responses": {
          "200": {
            "description": "Dashboard data including workspaces, apps, limits, and AI credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDashboardResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/deploy/compositions/preview": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Preview an exact Community workspace composition ref.",
        "operationId": "preview_composition",
        "parameters": [
          {
            "name": "ref",
            "in": "query",
            "description": "Exact composition ref, e.g. @alice/data-lab@1.0.0",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Composition deploy preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompositionPreviewResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/deploy/preview": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Preview an exact Official, private owner, or allowed community deploy ref.",
        "operationId": "preview_deploy",
        "parameters": [
          {
            "name": "ref",
            "in": "query",
            "description": "Exact deploy ref, e.g. @rigbox/filebrowser@builtin or @alice/pgweb@1.2.3",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deploy preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeployPreviewResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/feature-flags": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Get feature flags resolved for the calling user.",
        "description": "The response is a flat `{ \"flag_name\": true/false }` map where access is\npre-resolved using the caller's email and plan. The frontend caches this\nat startup and checks keys with `isFeatureOn('flag_name')`.",
        "operationId": "get_feature_flags",
        "responses": {
          "200": {
            "description": "Feature flags for the calling user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureFlagsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/quick-deploy": {
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "Create a workspace from a template.",
        "operationId": "quick_deploy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuickDeployRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Workspace created from template",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuickDeployResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/roadmap/votes": {
      "get": {
        "tags": [
          "Roadmap"
        ],
        "summary": "Get all roadmap vote counts.",
        "description": "If an Authorization header is present, also returns the user's own votes.\nNo auth required - anyone can see vote counts.",
        "operationId": "get_roadmap_votes",
        "responses": {
          "200": {
            "description": "Roadmap vote counts and optional user votes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRoadmapVotesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/roadmap/votes/{feature_key}": {
      "post": {
        "tags": [
          "Roadmap"
        ],
        "summary": "Toggle your vote on a roadmap feature.",
        "operationId": "toggle_roadmap_vote",
        "parameters": [
          {
            "name": "feature_key",
            "in": "path",
            "description": "Feature key to toggle vote on",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vote toggled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToggleVoteResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/service-specs": {
      "get": {
        "tags": [
          "Service Specs"
        ],
        "summary": "List all service specs.",
        "operationId": "list_service_specs",
        "responses": {
          "200": {
            "description": "List of service specs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceSpecsListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Service Specs"
        ],
        "summary": "Create a new service spec.",
        "operationId": "create_service_spec",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServiceSpecRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Service spec created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceSpecResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/service-specs/{id}": {
      "get": {
        "tags": [
          "Service Specs"
        ],
        "summary": "Get a service spec by ID.",
        "operationId": "get_service_spec",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Service spec ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service spec details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceSpecResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Service Specs"
        ],
        "summary": "Update a service spec.",
        "operationId": "update_service_spec",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Service spec ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateServiceSpecRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Service spec updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceSpecResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Service Specs"
        ],
        "summary": "Delete a service spec.",
        "operationId": "delete_service_spec",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Service spec ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service spec deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/setup-scripts": {
      "get": {
        "tags": [
          "Setup Scripts"
        ],
        "summary": "List all setup scripts.",
        "operationId": "list_setup_scripts",
        "responses": {
          "200": {
            "description": "List of setup scripts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetupScriptsListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Setup Scripts"
        ],
        "summary": "Create a new setup script.",
        "operationId": "create_setup_script",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSetupScriptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Setup script created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetupScriptResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/setup-scripts/{id}": {
      "get": {
        "tags": [
          "Setup Scripts"
        ],
        "summary": "Get a setup script by ID.",
        "operationId": "get_setup_script",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Script ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Setup script details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetupScriptResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup Scripts"
        ],
        "summary": "Update a setup script.",
        "operationId": "update_setup_script",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Script ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSetupScriptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Setup script updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetupScriptResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Setup Scripts"
        ],
        "summary": "Delete a setup script.",
        "operationId": "delete_setup_script",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Script ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Setup script deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/snapshots": {
      "get": {
        "tags": [
          "Snapshots"
        ],
        "summary": "List all snapshots for the authenticated user.",
        "operationId": "list_user_snapshots",
        "responses": {
          "200": {
            "description": "User snapshots",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSnapshotsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/snapshots/{snapshot_id}": {
      "delete": {
        "tags": [
          "Snapshots"
        ],
        "summary": "Delete a snapshot by ID.",
        "operationId": "delete_user_snapshot",
        "parameters": [
          {
            "name": "snapshot_id",
            "in": "path",
            "description": "Snapshot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshot deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/snapshots/{snapshot_id}/restore": {
      "post": {
        "tags": [
          "Snapshots"
        ],
        "summary": "Restore a workspace from a snapshot.",
        "operationId": "restore_user_snapshot",
        "parameters": [
          {
            "name": "snapshot_id",
            "in": "path",
            "description": "Snapshot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshot restored",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestoreSnapshotResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/ssh-keys": {
      "get": {
        "tags": [
          "SSH Keys"
        ],
        "summary": "List SSH keys for the authenticated user.",
        "operationId": "list_ssh_keys",
        "responses": {
          "200": {
            "description": "List of user SSH keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SshKeysResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "SSH Keys"
        ],
        "summary": "Add an SSH key to your account.\nThe key is automatically synced to all running workspaces.",
        "operationId": "add_ssh_key",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSshKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "SSH key added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SshKey"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/ssh-keys/{id}": {
      "delete": {
        "tags": [
          "SSH Keys"
        ],
        "summary": "Delete an SSH key from your account.\nThe key is automatically removed from all running workspaces.",
        "operationId": "delete_ssh_key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "SSH key ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSH key deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/templates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "List available workspace templates.",
        "operationId": "list_templates",
        "responses": {
          "200": {
            "description": "List of available workspace templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplatesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me/ai-defaults": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Get account-level AI defaults.",
        "operationId": "get_user_ai_defaults",
        "responses": {
          "200": {
            "description": "User AI defaults",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAiDefaultsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "AI"
        ],
        "summary": "Update account-level AI defaults.",
        "operationId": "update_user_ai_defaults",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAiDefaultsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated AI defaults",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAiDefaultsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/users/me/ai-mode": {
      "put": {
        "tags": [
          "AI"
        ],
        "summary": "Update AI mode for the authenticated user.",
        "operationId": "update_ai_mode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAiModeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated AI mode",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiCredits"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/users/me/ai-usage": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Get AI usage history and workspace breakdown.",
        "operationId": "get_ai_usage",
        "responses": {
          "200": {
            "description": "AI usage history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAiUsageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/users/me/ai-usage/metrics": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Get account AI usage metric series.",
        "operationId": "get_account_ai_usage_metrics",
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "description": "Metrics range: 1h, 6h, 24h, or 7d",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AiUsageMetricsRange"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account AI usage metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiUsageMetricsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/users/me/ai-usage/metrics/summary": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Get account AI usage metric summary.",
        "operationId": "get_account_ai_usage_metrics_summary",
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "description": "Metrics range: 1h, 6h, 24h, or 7d",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AiUsageMetricsRange"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account AI usage metrics summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiUsageMetricsSummaryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/users/me/credits": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Get AI credit balance for the authenticated user.",
        "operationId": "get_ai_credits",
        "responses": {
          "200": {
            "description": "AI credit balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiCredits"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/users/me/limits": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Get effective account limits and current usage.",
        "operationId": "get_user_limits",
        "responses": {
          "200": {
            "description": "User limits and usage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserLimitsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/users/me/regions": {
      "get": {
        "tags": [
          "User Settings"
        ],
        "summary": "List available regions.",
        "operationId": "list_available_regions",
        "responses": {
          "200": {
            "description": "Available regions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRegionsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/users/me/settings": {
      "get": {
        "tags": [
          "User Settings"
        ],
        "summary": "Get user settings.",
        "operationId": "get_user_settings",
        "responses": {
          "200": {
            "description": "User settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserSettingsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "User Settings"
        ],
        "summary": "Update user settings.",
        "operationId": "update_user_settings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserSettingsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated user settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserSettingsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "List all workspaces for the authenticated user.",
        "operationId": "list_vms",
        "responses": {
          "200": {
            "description": "List of user workspaces",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWorkspacesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Create a new workspace.",
        "operationId": "create_vm",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkspaceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Workspace created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkspaceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "402": {
            "description": "Trial expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "Workspace limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces/from-composition": {
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "Deploy a workspace composition (built-in or community) end-to-end.",
        "operationId": "deploy_from_composition",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeployFromCompositionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Workspace created from composition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeployFromCompositionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{id}": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Get a workspace by ID.",
        "operationId": "get_vm",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID (e.g. ws-xxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkspaceResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Delete a workspace.",
        "operationId": "delete_vm",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{id}/ai-config": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Get the AI configuration for a workspace.",
        "operationId": "get_workspace_ai_config",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace AI configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceAiConfigResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "AI"
        ],
        "summary": "Update workspace AI configuration.",
        "operationId": "update_workspace_ai_config",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorkspaceAiConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated AI configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceAiConfigResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{id}/ai-usage/metrics": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Get workspace AI usage metric series.",
        "operationId": "get_workspace_ai_usage_metrics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Metrics range: 1h, 6h, 24h, or 7d",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AiUsageMetricsRange"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace AI usage metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiUsageMetricsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{id}/ai-usage/metrics/summary": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Get workspace AI usage metric summary.",
        "operationId": "get_workspace_ai_usage_metrics_summary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Metrics range: 1h, 6h, 24h, or 7d",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AiUsageMetricsRange"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace AI usage metrics summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiUsageMetricsSummaryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{id}/deploy/launch": {
      "post": {
        "tags": [
          "Deploy"
        ],
        "summary": "Launch an exact Official, private owner, or allowed community deploy ref into a workspace.",
        "operationId": "launch_deploy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LaunchDeployRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Deploy launched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeployLaunchResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{id}/env": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Update environment variables for a workspace.\nChanges take effect immediately if the workspace is running.",
        "operationId": "update_workspace_env",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorkspaceEnvRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Environment variables updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{id}/expose-port": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Detect or expose a port as a routable app.",
        "operationId": "expose_port",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExposePortRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Port exposed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExposePortResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{id}/install-app": {
      "post": {
        "tags": [
          "App Catalog"
        ],
        "summary": "Install a catalog app into a workspace.",
        "operationId": "install_app",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstallAppRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Catalog app installed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallAppResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{id}/jobs/{job_id}": {
      "get": {
        "tags": [
          "App Catalog"
        ],
        "summary": "Poll the status of an async app install job.",
        "operationId": "get_job_status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "job_id",
            "in": "path",
            "description": "Job ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{id}/listening-ports": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "List ports with active listeners in a workspace.",
        "description": "Detect which ports are listening in the workspace.\nCross-checks against existing apps to flag already-exposed ports.",
        "operationId": "get_listening_ports",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listening ports",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListListeningPortsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{id}/logs": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "Fetch structured logs from a workspace.",
        "operationId": "get_workspace_logs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace logs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkspaceLogsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{id}/logs/stream": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "Stream workspace logs via Server-Sent Events.",
        "operationId": "stream_workspace_logs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE log stream"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{id}/metrics": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Get live resource metrics for a workspace.",
        "operationId": "get_workspace_metrics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace resource metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceMetrics"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{id}/metrics/series": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Get workspace resource metric series.",
        "operationId": "get_workspace_metrics_series",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Metrics range: 1h, 6h, 24h, or 7d",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/WorkspaceMetricsRange"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace metrics series",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceMetricsSeriesResponse"
                }
              }
            }
          },
          "502": {
            "description": "Prometheus returned an invalid response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "Prometheus unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{id}/metrics/summary": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Get workspace resource metric summary.",
        "operationId": "get_workspace_metrics_summary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Metrics range: 1h, 6h, 24h, or 7d",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/WorkspaceMetricsRange"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace metrics summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceMetricsSummaryResponse"
                }
              }
            }
          },
          "502": {
            "description": "Prometheus returned an invalid response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "Prometheus unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{id}/resources": {
      "put": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Update workspace resources.",
        "operationId": "update_workspace_resources",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace resources updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResizeWorkspaceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{id}/services": {
      "get": {
        "tags": [
          "Workspace Services"
        ],
        "summary": "List all workspace services with health status.",
        "operationId": "list_services",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of workspace services",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceServicesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{id}/services/{name}": {
      "get": {
        "tags": [
          "Workspace Services"
        ],
        "summary": "Get a single workspace service by name.",
        "operationId": "get_service",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Service name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceService"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{id}/services/{name}/logs": {
      "get": {
        "tags": [
          "Workspace Services"
        ],
        "summary": "Fetch logs for a specific workspace service by name.",
        "operationId": "get_service_logs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Service name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service logs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkspaceLogsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Service has no systemd unit"
          },
          "404": {
            "description": "Service not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{id}/snapshots": {
      "get": {
        "tags": [
          "Snapshots"
        ],
        "summary": "List snapshots for a workspace.",
        "operationId": "list_workspace_snapshots",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace snapshots",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSnapshotsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Snapshots"
        ],
        "summary": "Create a snapshot of a workspace.",
        "operationId": "create_workspace_snapshot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSnapshotRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Snapshot created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSnapshotResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/workspaces/{id}/snapshots/{snapshot_id}": {
      "delete": {
        "tags": [
          "Snapshots"
        ],
        "summary": "Delete a workspace snapshot.",
        "operationId": "delete_workspace_snapshot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
[...]
