{
  "openapi": "3.1.0",
  "info": {
    "title": "Rigbox Public API",
    "description": "Gateway-owned public API for Rigbox. The gateway composes its local lifecycle API with service-owned exported specs.",
    "contact": {
      "name": "Rigbox",
      "url": "https://rigbox.dev"
    },
    "license": {
      "name": ""
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.rigbox.dev",
      "description": "Production gateway"
    }
  ],
  "paths": {
    "/api/v1/access-control/bindings": {
      "get": {
        "tags": [
          "Access Control"
        ],
        "operationId": "list_bindings",
        "parameters": [
          {
            "name": "resource",
            "in": "query",
            "description": "Canonical resource ref",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bindings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BindingsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Access Control"
        ],
        "operationId": "create_binding",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBindingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Binding created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessBinding"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Access Control"
        ],
        "operationId": "delete_binding",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteBindingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Binding deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessControlDeleteResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Access Control"
        ],
        "operationId": "update_binding",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBindingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Binding updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessBinding"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/access-control/principals": {
      "get": {
        "tags": [
          "Access Control"
        ],
        "operationId": "search_principals",
        "parameters": [
          {
            "name": "resource",
            "in": "query",
            "description": "Canonical resource ref",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Email or display-name search text",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Optional result limit",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Principals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrincipalLookupResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/access-control/role-presets": {
      "get": {
        "tags": [
          "Access Control"
        ],
        "operationId": "list_role_presets",
        "parameters": [
          {
            "name": "scope_kind",
            "in": "query",
            "description": "Optional role preset scope",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Role presets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RolePresetsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/access-control/simulate": {
      "post": {
        "tags": [
          "Access Control"
        ],
        "operationId": "simulate_access",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateAccessRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Simulation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulateAccessResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/access-control/tags": {
      "get": {
        "tags": [
          "Access Control"
        ],
        "operationId": "get_tags",
        "parameters": [
          {
            "name": "resource",
            "in": "query",
            "description": "Canonical resource ref",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Access Control"
        ],
        "operationId": "put_tags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTagsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tags updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/access-control/throttle-binding": {
      "get": {
        "tags": [
          "Access Control"
        ],
        "operationId": "get_throttle_binding",
        "parameters": [
          {
            "name": "resource",
            "in": "query",
            "description": "Canonical resource ref",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Throttle binding",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleBindingResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Access Control"
        ],
        "operationId": "put_throttle_binding",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateThrottleBindingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Throttle binding updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleBindingResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/access-control/throttle-presets": {
      "get": {
        "tags": [
          "Access Control"
        ],
        "operationId": "list_throttle_presets",
        "parameters": [
          {
            "name": "resource",
            "in": "query",
            "description": "Canonical resource ref",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Throttle presets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottlePresetsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/api-keys": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "operationId": "list_api_keys",
        "parameters": [
          {
            "name": "max_results",
            "in": "query",
            "description": "Maximum items to return. Clamped to `[1, MAX_LIMIT]`. Default 50.\n\nDeserialized leniently from a string: axum's `Query` (serde_urlencoded)\ncannot coerce a *flattened* numeric field, so a struct that\n`#[serde(flatten)]`s `PageParams` (e.g. `ListAppsQuery`) would otherwise\nfail with \"invalid type: string, expected u32\" on `?max_results=50`.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor returned by a prior call's `next_cursor`. Omit on the\nfirst page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API keys page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_ApiKeyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "API Keys"
        ],
        "operationId": "create_api_key",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiKeyResponseFull"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/api-keys/{id}": {
      "delete": {
        "tags": [
          "API Keys"
        ],
        "operationId": "delete_api_key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthMessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/app-catalog": {
      "get": {
        "tags": [
          "App Catalog"
        ],
        "summary": "List all available catalog apps.",
        "operationId": "list_catalog",
        "responses": {
          "200": {
            "description": "List of available catalog app items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apps": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "List apps for the authenticated user (or scoped to a workspace via\n`?workspace_id=`). Cursor-paginated under the shared `Page<T>` envelope.",
        "operationId": "list_apps",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "description": "Restrict to one workspace",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_results",
            "in": "query",
            "description": "Maximum items to return. Clamped to `[1, MAX_LIMIT]`. Default 50.\n\nDeserialized leniently from a string: axum's `Query` (serde_urlencoded)\ncannot coerce a *flattened* numeric field, so a struct that\n`#[serde(flatten)]`s `PageParams` (e.g. `ListAppsQuery`) would otherwise\nfail with \"invalid type: string, expected u32\" on `?max_results=50`.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor returned by a prior call's `next_cursor`. Omit on the\nfirst page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Apps page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_AppView"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Create a new app.",
        "operationId": "create_app",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "App created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "Name or subdomain conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get an app by ID.",
        "operationId": "get_app",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID (e.g. app-xxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Apps"
        ],
        "summary": "Delete an app.",
        "operationId": "delete_app",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "Managed app (requires ?force=true)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Apps"
        ],
        "summary": "Update an app.",
        "operationId": "update_app",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "App updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "Name conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/env": {
      "put": {
        "tags": [
          "Apps"
        ],
        "summary": "Replace this app's env vars and propagate them to the running VM's\ncanonical env sink.",
        "operationId": "update_app_env",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppEnvRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "App env updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/health": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Check if an app's URL is live by verifying actual content is served,\nand probe the underlying service and port status.",
        "description": "Returns `live` (HTTP reachable), `service_status` (service state),\nand `port_open` (whether the port is bound).",
        "operationId": "check_app_health",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App health",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppHealthResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/log-sources": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "List log sources for an app.",
        "operationId": "list_app_log_sources",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Log sources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAppLogSourcesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Logs"
        ],
        "summary": "Create a log source for an app.",
        "operationId": "create_app_log_source",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppLogSourceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Log source created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppLogSourceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/log-sources/{source_id}": {
      "delete": {
        "tags": [
          "Logs"
        ],
        "summary": "Delete a log source.",
        "operationId": "delete_app_log_source",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source_id",
            "in": "path",
            "description": "Source ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Log source deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Logs"
        ],
        "summary": "Update a log source.",
        "operationId": "update_app_log_source",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source_id",
            "in": "path",
            "description": "Source ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppLogSourceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Log source updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppLogSourceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/logs": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "Fetch logs for an app.",
        "operationId": "get_app_logs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App logs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppLogsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/logs/stream": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "Stream app logs via Server-Sent Events.",
        "operationId": "stream_app_logs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE log stream"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/metrics": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get app time-series metrics.",
        "operationId": "get_app_metrics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Metrics range: 1h, 6h, 24h, or 7d",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AppMetricsRange"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppMetricsResponse"
                }
              }
            }
          },
          "502": {
            "description": "Prometheus returned an invalid response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "Prometheus unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/metrics/summary": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get app summary metrics.",
        "operationId": "get_app_metrics_summary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Metrics range: 1h, 6h, 24h, or 7d",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AppMetricsRange"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App metrics summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppMetricsSummaryResponse"
                }
              }
            }
          },
          "502": {
            "description": "Prometheus returned an invalid response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "503": {
            "description": "Prometheus unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/params": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get configurable parameters for an app.",
        "operationId": "get_app_params",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App params",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppParamsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Apps"
        ],
        "summary": "Update configurable parameters for an app.",
        "operationId": "update_app_params",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppParamsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "App params updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/restart": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Restart an app's service.",
        "operationId": "restart_app_service",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service restarted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceActionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/start": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Start an app's service.",
        "operationId": "start_app_service",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceActionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/stop": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Stop an app's service.",
        "operationId": "stop_app_service",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service stopped",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceActionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/verify-domain": {
      "post": {
        "summary": "POST /api/v1/apps/:id/verify-domain - re-check DNS for the app's custom domain.",
        "operationId": "verify_domain",
        "responses": {
          "200": {
            "description": "Verification result"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/apps/{id}/visibility": {
      "put": {
        "tags": [
          "Apps"
        ],
        "summary": "Update app visibility.",
        "operationId": "update_app_visibility",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppVisibilityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "App visibility updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/change-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "change_password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Password changed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthMessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/cli-session": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Create a pending CLI session. Called by the CLI before opening the browser.",
        "operationId": "create_session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCliSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "CLI session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCliSessionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/cli-session/{code}": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Poll a CLI session. Called by the CLI while waiting for browser approval.",
        "operationId": "poll_session",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "CLI session code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CLI session status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PollCliSessionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/cli-session/{code}/approve": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Approve a CLI session. Called by the web app after the user logs in.",
        "description": "Rotates the canonical `\"CLI login\"` API key: any prior row is\ndeleted (logs the user out on any other machine using that key),\nthen a fresh key is minted and handed to the polling CLI. The\nrotation matches what other cloud CLIs (`gcloud auth login`,\n`aws sso login`, `kubectl auth login`) do \u2014 a fresh `login` is a\nfresh credential, and old credentials are invalidated.\n\nUsers who want a separate, named key per machine can still create\nthem manually via `POST /v1/api-keys`; this endpoint only manages\nthe canonical CLI-login slot.",
        "operationId": "approve_session",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "CLI session code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CLI session approved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApproveCliSessionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/create-checkout-session": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "POST /auth/create-checkout-session - Create a Stripe Checkout session and return the URL",
        "operationId": "create_checkout_session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Checkout URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UrlResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/create-portal-session": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "POST /auth/create-portal-session - Create Stripe Customer Portal session",
        "operationId": "create_portal_session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Portal URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UrlResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/force-change-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "POST /auth/force-change-password - Used after admin resets a user's password.\nVerifies the temporary password, sets the new one, and clears the must_change_password flag.",
        "operationId": "force_change_password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForceChangePasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Password changed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseWithUser"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Logged in",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseWithUser"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "get_me",
        "responses": {
          "200": {
            "description": "Current user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMeResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/signup": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "signup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Signed up",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseWithUser"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/stripe-webhook": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "POST /auth/stripe-webhook - Handle Stripe webhook events",
        "operationId": "stripe_webhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Webhook accepted"
          }
        }
      }
    },
    "/api/v1/auth/subscription-status": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "GET /auth/subscription-status - Check current subscription status",
        "operationId": "get_subscription_status",
        "responses": {
          "200": {
            "description": "Subscription status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionStatusResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/switch-plan": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "POST /auth/switch-plan - Switch between pro_byok and pro_managed (proration)",
        "operationId": "switch_plan",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Plan switched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SwitchPlanResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/auth/validate": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "GET /auth/validate - Validate token for forward_auth",
        "operationId": "validate_token",
        "responses": {
          "200": {
            "description": "Token valid"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/catalog": {
      "get": {
        "tags": [
          "App Catalog"
        ],
        "summary": "Cursor-paginated list of exact deployable catalog refs for the current\nuser. Same offset-under-opaque-cursor approach as `list_recipes`.",
        "operationId": "list_versioned_catalog",
        "parameters": [
          {
            "name": "max_results",
            "in": "query",
            "description": "Maximum items to return. Clamped to `[1, MAX_LIMIT]`. Default 50.\n\nDeserialized leniently from a string: axum's `Query` (serde_urlencoded)\ncannot coerce a *flattened* numeric field, so a struct that\n`#[serde(flatten)]`s `PageParams` (e.g. `ListAppsQuery`) would otherwise\nfail with \"invalid type: string, expected u32\" on `?max_results=50`.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor returned by a prior call's `next_cursor`. Omit on the\nfirst page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_DeployPreviewResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/catalog/detail": {
      "get": {
        "tags": [
          "App Catalog"
        ],
        "summary": "Get one exact deployable catalog ref for the current user.",
        "operationId": "get_versioned_catalog_detail",
        "parameters": [
          {
            "name": "ref",
            "in": "query",
            "description": "Exact deploy ref, e.g. @rigbox/filebrowser@builtin or @alice/pgweb@1.2.3",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versioned catalog item detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityCatalogDetailResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/app-recipes": {
      "get": {
        "tags": [
          "Community v1"
        ],
        "summary": "List all published v1 app recipes (latest version of each).",
        "operationId": "list_app_recipes",
        "responses": {
          "200": {
            "description": "List of app recipe manifests (latest version each)",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "403": {
            "description": "Feature not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Community v1"
        ],
        "summary": "Publish a v1 App Recipe version.",
        "operationId": "publish_app_recipe",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Recipe published",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Invalid recipe",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Feature not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/app-recipes/{vendor}/{slug}": {
      "delete": {
        "tags": [
          "Community v1"
        ],
        "summary": "Delete an entire v1 App Recipe (all versions) owned by the caller.",
        "operationId": "delete_app_recipe_all",
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "Vendor (lowercase)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "Recipe slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recipe deleted",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "403": {
            "description": "Not the vendor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/app-recipes/{vendor}/{slug}/versions": {
      "get": {
        "tags": [
          "Community v1"
        ],
        "summary": "List every published version of a v1 App Recipe (newest first).",
        "operationId": "list_app_recipe_versions",
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "Vendor (lowercase)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "Recipe slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_results",
            "in": "query",
            "description": "Maximum items to return. Clamped to `[1, MAX_LIMIT]`. Default 50.\n\nDeserialized leniently from a string: axum's `Query` (serde_urlencoded)\ncannot coerce a *flattened* numeric field, so a struct that\n`#[serde(flatten)]`s `PageParams` (e.g. `ListAppsQuery`) would otherwise\nfail with \"invalid type: string, expected u32\" on `?max_results=50`.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor returned by a prior call's `next_cursor`. Omit on the\nfirst page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versions page (newest first)",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Recipe not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/app-recipes/{vendor}/{slug}/visibility": {
      "patch": {
        "tags": [
          "Community v1"
        ],
        "summary": "Set the visibility of an app recipe the caller owns.",
        "operationId": "set_app_recipe_visibility",
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "Vendor (lowercase)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "Recipe slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetVisibilityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Visibility updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid visibility",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Not the owning vendor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/app-recipes/{vendor}/{slug}/{version}": {
      "get": {
        "tags": [
          "Community v1"
        ],
        "summary": "Fetch a published v1 App Recipe version.",
        "operationId": "get_app_recipe",
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "Vendor (lowercase)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "Recipe slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Exact semver",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Manifest",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Community v1"
        ],
        "summary": "Delete a published v1 App Recipe version.",
        "operationId": "delete_app_recipe",
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "Vendor (lowercase)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "Recipe slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Exact semver",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recipe version deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not the vendor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/installs/by-app/{app_id}": {
      "get": {
        "tags": [
          "Community"
        ],
        "summary": "Get the current user's community install record for an installed app.",
        "operationId": "get_community_install_by_app",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "Installed app ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Community install record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityInstallResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/profile": {
      "get": {
        "tags": [
          "Community"
        ],
        "summary": "Get the current user's community profile and catalog preference.",
        "operationId": "get_community_profile",
        "responses": {
          "200": {
            "description": "Community profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityProfileResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Community"
        ],
        "summary": "Update the current user's community username or catalog preference.",
        "operationId": "update_community_profile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCommunityProfileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated community profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityProfileResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/recipes/{vendor}/{slug}/{version}": {
      "delete": {
        "tags": [
          "Community"
        ],
        "summary": "Unpublish a community recipe version. Only the owning vendor can delete.\nBuilt-in recipes (`vendor=rigbox`) cannot be deleted.",
        "operationId": "delete_recipe",
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "Vendor username",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "Recipe slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Exact version (semver)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recipe version deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not the vendor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/recipes/{vendor}/{slug}/{version}/deprecate": {
      "post": {
        "tags": [
          "Community"
        ],
        "summary": "Deprecate a community recipe version. Only the owning vendor can mutate it.",
        "operationId": "deprecate_recipe",
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "Vendor username",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "Recipe slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Exact version (semver)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recipe version deprecated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityRecipeLifecycleResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/recipes/{vendor}/{slug}/{version}/yank": {
      "post": {
        "tags": [
          "Community"
        ],
        "summary": "Yank a community recipe version. Only the owning vendor can mutate it.",
        "operationId": "yank_recipe",
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "Vendor username",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "Recipe slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Exact version (semver)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recipe version yanked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityRecipeLifecycleResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/registry/health": {
      "get": {
        "tags": [
          "Community"
        ],
        "summary": "Get aggregate community registry health and adoption metrics.",
        "operationId": "get_registry_health",
        "responses": {
          "200": {
            "description": "Community registry health",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityRegistryHealthResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/registry/verified-webhook": {
      "post": {
        "tags": [
          "Community"
        ],
        "summary": "Promote exact community recipe versions to Verified.",
        "description": "This endpoint is intended for the future public `rigbox-dev/registry`\nrepository CI/webhook flow. The request body is a normalized allowlist\ndelta, signed with GitHub-style `X-Hub-Signature-256`.",
        "operationId": "promote_verified_versions",
        "parameters": [
          {
            "name": "x-github-delivery",
            "in": "header",
            "description": "Unique webhook delivery/event ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-hub-signature-256",
            "in": "header",
            "description": "sha256=<hex HMAC of the raw body>",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifiedPromotionWebhookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Verified promotion webhook processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifiedPromotionWebhookResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/community/workspace-definitions": {
      "get": {
        "tags": [
          "Community v1"
        ],
        "summary": "List all published v1 workspace definitions (latest version of each).",
        "operationId": "list_workspace_definitions",
        "responses": {
          "200": {
            "description": "List of workspace definition manifests",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "403": {
            "description": "Feature not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Community v1"
        ],
        "summary": "Publish a v1 Workspace Definition version.",
        "operationId": "publish_workspace_definition",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Workspace definition published",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Invalid definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Feature not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/workspace-definitions/{vendor}/{slug}": {
      "delete": {
        "tags": [
          "Community v1"
        ],
        "summary": "Delete an entire v1 Workspace Definition (all versions) owned by the caller.",
        "operationId": "delete_workspace_definition_all",
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "Vendor (lowercase)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "Workspace definition slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace definition deleted",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "403": {
            "description": "Not the vendor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/workspace-definitions/{vendor}/{slug}/versions": {
      "get": {
        "tags": [
          "Community v1"
        ],
        "summary": "List every published version of a v1 Workspace Definition (newest first).",
        "operationId": "list_workspace_definition_versions",
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "Vendor (lowercase)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "Workspace definition slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_results",
            "in": "query",
            "description": "Maximum items to return. Clamped to `[1, MAX_LIMIT]`. Default 50.\n\nDeserialized leniently from a string: axum's `Query` (serde_urlencoded)\ncannot coerce a *flattened* numeric field, so a struct that\n`#[serde(flatten)]`s `PageParams` (e.g. `ListAppsQuery`) would otherwise\nfail with \"invalid type: string, expected u32\" on `?max_results=50`.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor returned by a prior call's `next_cursor`. Omit on the\nfirst page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versions page (newest first)",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Definition not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/workspace-definitions/{vendor}/{slug}/visibility": {
      "patch": {
        "tags": [
          "Community v1"
        ],
        "summary": "Set the visibility of a workspace definition the caller owns.",
        "operationId": "set_workspace_definition_visibility",
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "Vendor (lowercase)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "Workspace definition slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetVisibilityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Visibility updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid visibility",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Not the owning vendor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/community/workspace-definitions/{vendor}/{slug}/{version}": {
      "get": {
        "tags": [
          "Community v1"
        ],
        "summary": "Fetch a published v1 Workspace Definition version.",
        "operationId": "get_workspace_definition",
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "Vendor (lowercase)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "Workspace definition slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Exact semver",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Manifest",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Community v1"
        ],
        "summary": "Delete a published v1 Workspace Definition version.",
        "operationId": "delete_workspace_definition",
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "Vendor (lowercase)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "Workspace definition slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Exact semver",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace definition version deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not the vendor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/dashboard": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Get composite dashboard data.",
        "description": "Fetches workspaces, apps, limits, and AI credits in parallel and returns\nthem in a single JSON response.",
        "operationId": "get_dashboard",
        "responses": {
          "200": {
            "description": "Dashboard data including workspaces, apps, limits, and AI credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDashboardResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/deploy/preview": {
      "get": {
        "tags": [
          "Deploy"
        ],
        "summary": "Preview an exact Official, private owner, or allowed community deploy ref.",
        "operationId": "preview_deploy",
        "parameters": [
          {
            "name": "ref",
            "in": "query",
            "description": "Exact deploy ref, e.g. @rigbox/filebrowser@builtin or @alice/pgweb@1.2.3",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deploy preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeployPreviewResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/deploy/workspace-definitions/preview": {
      "get": {
        "tags": [
          "Community v1"
        ],
        "operationId": "preview_workspace_definition_v1",
        "parameters": [
          {
            "name": "ref",
            "in": "query",
            "description": "Exact workspace definition ref, e.g. @alice/stack@1.0.0",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace definition deploy preview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceDefinitionPreviewResponse"
                }
              }
            }
          },
          "403": {
            "description": "Feature not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Definition not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/feature-flags": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Get feature flags resolved for the calling user.",
        "description": "The response is a flat `{ \"flag_name\": true/false }` map where access is\npre-resolved using the caller's email and plan. The frontend caches this\nat startup and checks keys with `isFeatureOn('flag_name')`.",
        "operationId": "get_feature_flags",
        "responses": {
          "200": {
            "description": "Feature flags for the calling user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureFlagsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/metrics": {
      "post": {
        "tags": [
          "Telemetry"
        ],
        "operationId": "ingest_metrics",
        "requestBody": {
          "description": "OTLP/HTTP protobuf metric export",
          "content": {
            "application/x-protobuf": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Metrics accepted and forwarded to the collector"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/quick-deploy": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "operationId": "quick_deploy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuickDeployRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Workspace created from template",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuickDeployResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Create a workspace from a template."
      }
    },
    "/api/v1/roadmap/votes": {
      "get": {
        "tags": [
          "Roadmap"
        ],
        "summary": "Get all roadmap vote counts.",
        "description": "If an Authorization header is present, also returns the user's own votes.\nNo auth required - anyone can see vote counts.",
        "operationId": "get_roadmap_votes",
        "responses": {
          "200": {
            "description": "Roadmap vote counts and optional user votes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRoadmapVotesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/roadmap/votes/{feature_key}": {
      "post": {
        "tags": [
          "Roadmap"
        ],
        "summary": "Toggle your vote on a roadmap feature.",
        "operationId": "toggle_roadmap_vote",
        "parameters": [
          {
            "name": "feature_key",
            "in": "path",
            "description": "Feature key to toggle vote on",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vote toggled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToggleVoteResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/service-specs": {
      "get": {
        "tags": [
          "Service Specs"
        ],
        "summary": "List all service specs.",
        "operationId": "list_service_specs",
        "responses": {
          "200": {
            "description": "List of service specs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceSpecsListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Service Specs"
        ],
        "summary": "Create a new service spec.",
        "operationId": "create_service_spec",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServiceSpecRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Service spec created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceSpecResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/service-specs/{id}": {
      "get": {
        "tags": [
          "Service Specs"
        ],
        "summary": "Get a service spec by ID.",
        "operationId": "get_service_spec",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Service spec ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service spec details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceSpecResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Service Specs"
        ],
        "summary": "Update a service spec.",
        "operationId": "update_service_spec",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Service spec ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateServiceSpecRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Service spec updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceSpecResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Service Specs"
        ],
        "summary": "Delete a service spec.",
        "operationId": "delete_service_spec",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Service spec ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service spec deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/setup-scripts": {
      "get": {
        "tags": [
          "Setup Scripts"
        ],
        "summary": "List all setup scripts.",
        "operationId": "list_setup_scripts",
        "responses": {
          "200": {
            "description": "List of setup scripts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetupScriptsListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Setup Scripts"
        ],
        "summary": "Create a new setup script.",
        "operationId": "create_setup_script",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSetupScriptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Setup script created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetupScriptResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/v1/setup-scripts/{id}": {
      "get": {
        "tags": [
          "Setup Scripts"
        ],
        "summary": "Get a setup script by ID.",
        "operationId": "get_setup_script",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Script ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
[...]
