{
  "openapi": "3.1.0",
  "info": {
    "title": "Rigbox API",
    "description": "Manage workspaces, apps, snapshots, tools, and more on the Rigbox platform.",
    "contact": {
      "name": "Rigbox",
      "url": "https://rigbox.dev"
    },
    "license": {
      "name": ""
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.rigbox.dev",
      "description": "Production (EU-West, auto-routed)"
    }
  ],
  "paths": {
    "/api/app-catalog": {
      "get": {
        "tags": [
          "App Catalog"
        ],
        "summary": "List all available catalog apps.",
        "operationId": "list_catalog",
        "responses": {
          "200": {
            "description": "List of available catalog app items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogResponse"
                }
              }
            }
          }
        },
        "description": "Browses the catalog of installable apps and services. Each catalog entry includes a description, default configuration, and required resources."
      }
    },
    "/api/apps": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "List all apps for the authenticated user.",
        "operationId": "list_apps",
        "responses": {
          "200": {
            "description": "List of user apps",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAppsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Returns all apps across your workspaces. Use the `workspace_id` query parameter to filter by a specific workspace."
      },
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Create a new app.",
        "operationId": "create_app",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "App created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "Name or subdomain conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Creates a new app by mapping a port inside a workspace to a public subdomain on rigbox.dev. The app becomes accessible at `{name}.rigbox.dev`."
      }
    },
    "/api/apps/{id}": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get an app by ID.",
        "operationId": "get_app",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID (e.g. app-xxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Returns details for a specific app including its public URL, port mapping, visibility setting, and current status."
      },
      "delete": {
        "tags": [
          "Apps"
        ],
        "summary": "Delete an app.",
        "operationId": "delete_app",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "Managed app (requires ?force=true)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Deletes an app and removes its public route. The underlying service in the workspace is not affected."
      },
      "patch": {
        "tags": [
          "Apps"
        ],
        "summary": "Update an app.",
        "operationId": "update_app",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "App updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "Name conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Updates an app's name, description, or other mutable configuration. The public URL changes if the name is updated."
      }
    },
    "/api/apps/{id}/health": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Check if an app's URL is live by verifying actual content is served,\nand probe the underlying service and port status.",
        "description": "Checks whether an app is live and its port is responding. Use this to verify an app is ready before showing its URL to users.",
        "operationId": "check_app_health",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App health",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppHealthResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/apps/{id}/log-sources": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "List log sources for an app.",
        "operationId": "list_app_log_sources",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Log sources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAppLogSourcesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Lists available log sources for an app (e.g., stdout, stderr, or custom sources). Each source can be fetched independently."
      },
      "post": {
        "tags": [
          "Logs"
        ],
        "summary": "Create a log source for an app.",
        "operationId": "create_app_log_source",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppLogSourceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Log source created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppLogSourceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Registers a new log source for an app. Log sources define where log data is collected from inside the workspace."
      }
    },
    "/api/apps/{id}/log-sources/{source_id}": {
      "delete": {
        "tags": [
          "Logs"
        ],
        "summary": "Delete a log source.",
        "operationId": "delete_app_log_source",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source_id",
            "in": "path",
            "description": "Source ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Log source deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Removes a log source from an app. Historical logs from the source are no longer accessible."
      },
      "patch": {
        "tags": [
          "Logs"
        ],
        "summary": "Update a log source.",
        "operationId": "update_app_log_source",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source_id",
            "in": "path",
            "description": "Source ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppLogSourceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Log source updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppLogSourceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Updates a log source's configuration such as its file path or label."
      }
    },
    "/api/apps/{id}/logs": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "Fetch logs for an app.",
        "operationId": "get_app_logs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App logs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppLogsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Fetches historical logs for an app with pagination support. Use `lines` to control the number of log lines returned and `direction` for ordering."
      }
    },
    "/api/apps/{id}/logs/stream": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "Stream app logs via Server-Sent Events.",
        "operationId": "stream_app_logs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE log stream"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Streams app logs in real-time using Server-Sent Events. Set `Accept: text/event-stream` and use `lines` and `interval_ms` query parameters."
      }
    },
    "/api/apps/{id}/params": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get configurable parameters for an app.",
        "operationId": "get_app_params",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App params",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppParamsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Returns the configurable parameters for an app, as defined by its service spec. Parameters control runtime behavior."
      },
      "patch": {
        "tags": [
          "Apps"
        ],
        "summary": "Update configurable parameters for an app.",
        "operationId": "update_app_params",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppParamsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "App params updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Updates one or more configurable parameters for an app. Only parameters defined in the app's service spec can be set."
      }
    },
    "/api/apps/{id}/restart": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Restart an app's service.",
        "operationId": "restart_app_service",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service restarted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceActionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Restarts the backing service for an app. Useful after configuration changes or to recover from a stuck state."
      }
    },
    "/api/apps/{id}/start": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Start an app's service.",
        "operationId": "start_app_service",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceActionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Starts the backing service for an app inside the workspace. The app must have a service spec or command configured."
      }
    },
    "/api/apps/{id}/stop": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Stop an app's service.",
        "operationId": "stop_app_service",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service stopped",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceActionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Stops the backing service for an app without deleting the app or its route configuration."
      }
    },
    "/api/dashboard": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Get composite dashboard data.",
        "description": "Returns a combined dashboard view with workspace summaries, recent activity, and resource usage.",
        "operationId": "get_dashboard",
        "responses": {
          "200": {
            "description": "Dashboard data including workspaces, apps, limits, and AI credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDashboardResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/feature-flags": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Get feature flags resolved for the calling user.",
        "description": "Returns feature flags enabled for the authenticated user. Flags control access to preview features like access control and disk resize.",
        "operationId": "get_feature_flags",
        "responses": {
          "200": {
            "description": "Feature flags for the calling user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureFlagsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/quick-deploy": {
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "Create a workspace from a template.",
        "operationId": "quick_deploy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuickDeployRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Workspace created from template",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuickDeployResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Creates a workspace from a template in one call. This is the fastest way to get a running workspace \u2014 it provisions the VM, applies template defaults, and returns the workspace ready to start."
      }
    },
    "/api/roadmap/votes": {
      "get": {
        "tags": [
          "Roadmap"
        ],
        "summary": "Get all roadmap vote counts.",
        "description": "Returns the list of roadmap features and whether the authenticated user has voted for each one.",
        "operationId": "get_roadmap_votes",
        "responses": {
          "200": {
            "description": "Roadmap vote counts and optional user votes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRoadmapVotesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/roadmap/votes/{feature_key}": {
      "post": {
        "tags": [
          "Roadmap"
        ],
        "summary": "Toggle your vote on a roadmap feature.",
        "operationId": "toggle_roadmap_vote",
        "parameters": [
          {
            "name": "feature_key",
            "in": "path",
            "description": "Feature key to toggle vote on",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vote toggled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToggleVoteResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Toggles your vote on a roadmap feature. Voting again removes your vote."
      }
    },
    "/api/service-specs": {
      "get": {
        "tags": [
          "Service Specs"
        ],
        "summary": "List all service specs.",
        "operationId": "list_service_specs",
        "responses": {
          "200": {
            "description": "List of service specs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceSpecsListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Lists all service specs for the authenticated user. Service specs define how apps run inside workspaces."
      },
      "post": {
        "tags": [
          "Service Specs"
        ],
        "summary": "Create a new service spec.",
        "operationId": "create_service_spec",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServiceSpecRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Service spec created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceSpecResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Creates a service spec defining an app's runtime configuration \u2014 port mappings, health checks, environment variables, and startup commands."
      }
    },
    "/api/service-specs/{id}": {
      "get": {
        "tags": [
          "Service Specs"
        ],
        "summary": "Get a service spec by ID.",
        "operationId": "get_service_spec",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Service spec ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service spec details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceSpecResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Returns a service spec by ID, including its full configuration."
      },
      "put": {
        "tags": [
          "Service Specs"
        ],
        "summary": "Update a service spec.",
        "operationId": "update_service_spec",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Service spec ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateServiceSpecRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Service spec updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceSpecResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Updates a service spec's configuration. Changes apply to apps that reference this spec on their next restart."
      },
      "delete": {
        "tags": [
          "Service Specs"
        ],
        "summary": "Delete a service spec.",
        "operationId": "delete_service_spec",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Service spec ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service spec deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Deletes a service spec. Apps that reference it will retain their current configuration but won't receive future updates."
      }
    },
    "/api/setup-scripts": {
      "get": {
        "tags": [
          "Setup Scripts"
        ],
        "summary": "List all setup scripts.",
        "operationId": "list_setup_scripts",
        "responses": {
          "200": {
            "description": "List of setup scripts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetupScriptsListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Lists all setup scripts for the authenticated user. Setup scripts automate workspace initialization."
      },
      "post": {
        "tags": [
          "Setup Scripts"
        ],
        "summary": "Create a new setup script.",
        "operationId": "create_setup_script",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSetupScriptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Setup script created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetupScriptResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Creates a reusable setup script. Setup scripts run automatically when a workspace starts, and can install packages, configure services, or seed data."
      }
    },
    "/api/setup-scripts/{id}": {
      "get": {
        "tags": [
          "Setup Scripts"
        ],
        "summary": "Get a setup script by ID.",
        "operationId": "get_setup_script",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Script ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Setup script details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetupScriptResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Returns a setup script by ID, including its content and metadata."
      },
      "put": {
        "tags": [
          "Setup Scripts"
        ],
        "summary": "Update a setup script.",
        "operationId": "update_setup_script",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Script ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSetupScriptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Setup script updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetupScriptResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Updates a setup script's content or metadata. Changes apply to workspaces that reference this script on their next start."
      },
      "delete": {
        "tags": [
          "Setup Scripts"
        ],
        "summary": "Delete a setup script.",
        "operationId": "delete_setup_script",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Script ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Setup script deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Deletes a setup script. Workspaces that reference it will skip the script on next start."
      }
    },
    "/api/snapshots": {
      "get": {
        "tags": [
          "Snapshots"
        ],
        "summary": "List all snapshots for the authenticated user.",
        "operationId": "list_user_snapshots",
        "responses": {
          "200": {
            "description": "User snapshots",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSnapshotsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Lists all snapshots across all workspaces for the authenticated user."
      }
    },
    "/api/snapshots/{snapshot_id}": {
      "delete": {
        "tags": [
          "Snapshots"
        ],
        "summary": "Delete a snapshot by ID.",
        "operationId": "delete_user_snapshot",
        "parameters": [
          {
            "name": "snapshot_id",
            "in": "path",
            "description": "Snapshot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshot deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Deletes a snapshot by its ID, regardless of which workspace it belongs to."
      }
    },
    "/api/snapshots/{snapshot_id}/restore": {
      "post": {
        "tags": [
          "Snapshots"
        ],
        "summary": "Restore a workspace from a snapshot.",
        "operationId": "restore_user_snapshot",
        "parameters": [
          {
            "name": "snapshot_id",
            "in": "path",
            "description": "Snapshot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshot restored",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestoreSnapshotResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Restores a snapshot by ID to its original workspace. The workspace must be stopped."
      }
    },
    "/api/ssh-keys": {
      "get": {
        "tags": [
          "SSH Keys"
        ],
        "summary": "List SSH keys for the authenticated user.",
        "operationId": "list_ssh_keys",
        "responses": {
          "200": {
            "description": "List of user SSH keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SshKeysResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Lists all SSH public keys registered to your account. These keys are synced to workspaces for SSH access."
      },
      "post": {
        "tags": [
          "SSH Keys"
        ],
        "summary": "Add an SSH key to your account.\nThe key is automatically synced to all running workspaces.",
        "operationId": "add_ssh_key",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSshKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "SSH key added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SshKey"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Registers a new SSH public key to your account. The key will be available for syncing to workspaces."
      }
    },
    "/api/ssh-keys/{id}": {
      "delete": {
        "tags": [
          "SSH Keys"
        ],
        "summary": "Delete an SSH key from your account.\nThe key is automatically removed from all running workspaces.",
        "operationId": "delete_ssh_key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "SSH key ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSH key deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Removes an SSH key from your account. The key will no longer be synced to new workspaces."
      }
    },
    "/api/templates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "List available workspace templates.",
        "operationId": "list_templates",
        "responses": {
          "200": {
            "description": "List of available workspace templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplatesResponse"
                }
              }
            }
          }
        },
        "description": "Lists available workspace templates with their default configurations. This endpoint is public and does not require authentication."
      }
    },
    "/api/users/me/ai-defaults": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Get account-level AI defaults.",
        "operationId": "get_user_ai_defaults",
        "responses": {
          "200": {
            "description": "User AI defaults",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAiDefaultsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Returns the default AI provider settings that are applied to new workspaces when no explicit config is provided."
      },
      "put": {
        "tags": [
          "AI"
        ],
        "summary": "Update account-level AI defaults.",
        "operationId": "update_user_ai_defaults",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAiDefaultsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated AI defaults",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAiDefaultsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Updates default AI provider, model, and mode. New workspaces will inherit these settings unless overridden."
      }
    },
    "/api/users/me/ai-mode": {
      "put": {
        "tags": [
          "AI"
        ],
        "summary": "Update AI mode for the authenticated user.",
        "operationId": "update_ai_mode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAiModeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated AI mode",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiCredits"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Switches between managed and BYOK AI mode. In managed mode, Rigbox injects provider API keys and tracks credit usage. In BYOK mode, you supply your own keys."
      }
    },
    "/api/users/me/ai-usage": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Get AI usage history and workspace breakdown.",
        "operationId": "get_ai_usage",
        "responses": {
          "200": {
            "description": "AI usage history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAiUsageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Returns AI usage history broken down by day and workspace. Includes token counts and cost estimates."
      }
    },
    "/api/users/me/credits": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Get AI credit balance for the authenticated user.",
        "operationId": "get_ai_credits",
        "responses": {
          "200": {
            "description": "AI credit balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiCredits"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Returns the authenticated user's AI credit balance, total allocation, and current mode (managed or BYOK)."
      }
    },
    "/api/users/me/limits": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Get effective account limits and current usage.",
        "operationId": "get_user_limits",
        "responses": {
          "200": {
            "description": "User limits and usage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserLimitsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Returns account plan limits including maximum workspaces, apps, RAM, disk, and vCPU allocations, along with current usage."
      }
    },
    "/api/users/me/regions": {
      "get": {
        "tags": [
          "User Settings"
        ],
        "summary": "List available regions.",
        "operationId": "list_available_regions",
        "responses": {
          "200": {
            "description": "Available regions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRegionsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Lists available deployment regions. Use this to let users choose where their workspaces are provisioned."
      }
    },
    "/api/users/me/settings": {
      "get": {
        "tags": [
          "User Settings"
        ],
        "summary": "Get user settings.",
        "operationId": "get_user_settings",
        "responses": {
          "200": {
            "description": "User settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserSettingsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Returns the authenticated user's settings and preferences, such as default region and editor configuration."
      },
      "put": {
        "tags": [
          "User Settings"
        ],
        "summary": "Update user settings.",
        "operationId": "update_user_settings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserSettingsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated user settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserSettingsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Updates user settings. Only provided fields are changed; omitted fields keep their current value."
      }
    },
    "/api/workspaces": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "List all workspaces for the authenticated user.",
        "operationId": "list_vms",
        "responses": {
          "200": {
            "description": "List of user workspaces",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWorkspacesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Returns all workspaces owned by the authenticated user, including their current status, resource allocation, and metadata."
      },
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Create a new workspace.",
        "operationId": "create_vm",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkspaceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Workspace created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkspaceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "402": {
            "description": "Trial expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "Workspace limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Provisions a new Firecracker micro-VM with the specified resources. The workspace starts in `provisioned` status \u2014 call the start endpoint to boot it."
      }
    },
    "/api/workspaces/{id}": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Get a workspace by ID.",
        "operationId": "get_vm",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID (e.g. ws-xxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkspaceResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Returns full details for a single workspace including status, IP address, resource allocation, environment variables, and template configuration."
      },
      "delete": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Delete a workspace.",
        "operationId": "delete_vm",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Permanently deletes a workspace and all associated data including apps, snapshots, and environment variables. This action is irreversible."
      }
    },
    "/api/workspaces/{id}/ai-config": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Get the AI configuration for a workspace.",
        "operationId": "get_workspace_ai_config",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace AI configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceAiConfigResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Returns the AI provider configuration for a specific workspace, including mode, provider, model, and whether a BYOK key is set."
      },
      "put": {
        "tags": [
          "AI"
        ],
        "summary": "Update workspace AI configuration.",
        "operationId": "update_workspace_ai_config",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorkspaceAiConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated AI configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceAiConfigResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Updates AI provider settings for a workspace. Accepts `mode`, `provider`, `api_key`, and `model`. Omitted fields keep their current value. Set a field to `null` to clear it."
      }
    },
    "/api/workspaces/{id}/env": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Update environment variables for a workspace.\nChanges take effect immediately if the workspace is running.",
        "operationId": "update_workspace_env",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorkspaceEnvRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Environment variables updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Sets or updates environment variables inside the workspace. Variables are persisted across restarts and available immediately in running workspaces."
      }
    },
    "/api/workspaces/{id}/expose-port": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Detect or expose a port as a routable app.",
        "operationId": "expose_port",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExposePortRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Port exposed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExposePortResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Exposes a port from inside a workspace as a new app with a public URL. This is a shortcut that creates an app and sets up routing in one call."
      }
    },
    "/api/workspaces/{id}/install-app": {
      "post": {
        "tags": [
          "App Catalog"
        ],
        "summary": "Install a catalog app into a workspace.",
        "operationId": "install_app",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstallAppRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Catalog app installed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallAppResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Installs a catalog app into a workspace. Installation runs as a background job \u2014 use the job-status endpoint to track progress."
      }
    },
    "/api/workspaces/{id}/jobs/{job_id}": {
      "get": {
        "tags": [
          "App Catalog"
        ],
        "summary": "Poll the status of an async app install job.",
        "operationId": "get_job_status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "job_id",
            "in": "path",
            "description": "Job ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Returns the status and progress of an asynchronous job such as an app installation."
      }
    },
    "/api/workspaces/{id}/listening-ports": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "List ports with active listeners in a workspace.",
        "description": "Lists ports currently listening inside a workspace. Useful for discovering services that can be exposed as apps.",
        "operationId": "get_listening_ports",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listening ports",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListListeningPortsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/workspaces/{id}/logs": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "Fetch structured logs from a workspace.",
        "operationId": "get_workspace_logs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace logs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkspaceLogsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Retrieves workspace-level logs with optional pagination. Use the `lines` and `direction` query parameters to control output volume and ordering."
      }
    },
    "/api/workspaces/{id}/logs/stream": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "Stream workspace logs via Server-Sent Events.",
        "operationId": "stream_workspace_logs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE log stream"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Streams workspace logs in real-time using Server-Sent Events. Set `Accept: text/event-stream` and use the `lines` and `interval_ms` parameters to control the stream."
      }
    },
    "/api/workspaces/{id}/metrics": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Get live resource metrics for a workspace.",
        "operationId": "get_workspace_metrics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace resource metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceMetrics"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Returns live CPU, memory, and disk usage metrics for a running workspace. Only available when the workspace status is `running`."
      }
    },
    "/api/workspaces/{id}/resources": {
      "put": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Update workspace resources.",
        "operationId": "update_workspace_resources",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResizeWorkspaceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Workspace resources updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResizeWorkspaceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Resizes a workspace's RAM, disk, or vCPU allocation. The workspace must be stopped before resizing. Changes take effect on next start."
      }
    },
    "/api/workspaces/{id}/snapshots": {
      "get": {
        "tags": [
          "Snapshots"
        ],
        "summary": "List snapshots for a workspace.",
        "operationId": "list_workspace_snapshots",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace snapshots",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSnapshotsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Lists all snapshots for a specific workspace, including their creation time and size."
      },
      "post": {
        "tags": [
          "Snapshots"
        ],
        "summary": "Create a snapshot of a workspace.",
        "operationId": "create_workspace_snapshot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSnapshotRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Snapshot created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSnapshotResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Captures the current state of a workspace as a snapshot. The workspace must be stopped before creating a snapshot."
      }
    },
    "/api/workspaces/{id}/snapshots/{snapshot_id}": {
      "delete": {
        "tags": [
          "Snapshots"
        ],
        "summary": "Delete a workspace snapshot.",
        "operationId": "delete_workspace_snapshot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_id",
            "in": "path",
            "description": "Snapshot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshot deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Deletes a specific snapshot from a workspace. This frees the associated storage."
      }
    },
    "/api/workspaces/{id}/snapshots/{snapshot_id}/restore": {
      "post": {
        "tags": [
          "Snapshots"
        ],
        "summary": "Restore a workspace from a snapshot.",
        "operationId": "restore_workspace_snapshot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_id",
            "in": "path",
            "description": "Snapshot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshot restored",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestoreSnapshotResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Restores a workspace to a previous snapshot state. This overwrites the current workspace disk. The workspace must be stopped."
      }
    },
    "/api/workspaces/{id}/ssh-keys": {
      "get": {
        "tags": [
          "SSH Keys"
        ],
        "summary": "List SSH keys currently in the workspace.",
        "operationId": "list_workspace_ssh_keys",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace SSH keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWorkspaceSshKeysResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Lists SSH keys currently deployed to a specific workspace's `authorized_keys` file."
      }
    },
    "/api/workspaces/{id}/ssh-keys/sync": {
      "post": {
        "tags": [
          "SSH Keys"
        ],
        "summary": "Sync all account SSH keys to the workspace.",
        "operationId": "sync_workspace_ssh_keys",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSH keys synced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncSshKeysResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Syncs your account's SSH keys into a workspace's `authorized_keys` file. Call this after adding or removing keys."
      }
    },
    "/api/workspaces/{id}/start": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Start a workspace.",
        "operationId": "start_vm",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkspaceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Already running or provisioning",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "402": {
            "description": "Trial expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Boots a workspace that is in `provisioned` or `stopped` status. The workspace transitions through `provisioning` to `running`."
      }
    },
    "/api/workspaces/{id}/stop": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Stop a workspace.",
        "operationId": "stop_vm",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace stopped",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkspaceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Not running",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Gracefully shuts down a running workspace. Disk state is preserved and the workspace can be started again later."
      }
    },
    "/api/workspaces/{id}/tasks": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "List tasks for a workspace.",
        "operationId": "list_workspace_tasks",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace tasks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTasksResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Returns tasks synced from the workspace's task manager, including their status and metadata."
      },
      "put": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Sync tasks from td running inside a workspace VM.",
        "operationId": "sync_workspace_tasks",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncTasksRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tasks synced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncTasksResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Syncs task state from an external task manager into the workspace. Used by the sidecar to keep task data current."
      }
    },
    "/api/workspaces/{id}/tools": {
      "get": {
        "tags": [
          "Tools"
        ],
        "summary": "List available tools and their status for a workspace.",
        "operationId": "list_tools",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available workspace tools with status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolsListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Lists available tools and their current install/run status for a workspace."
      }
    },
    "/api/workspaces/{id}/tools/{tool}/install": {
      "post": {
        "tags": [
          "Tools"
        ],
        "summary": "Install a tool asynchronously.",
        "description": "Installs a tool into a workspace. Installation runs asynchronously \u2014 use the install-status endpoint to poll for completion.",
        "operationId": "install_tool",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tool",
            "in": "path",
            "description": "Tool ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool install dispatched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInstallResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/api/workspaces/{id}/tools/{tool}/install-status": {
      "get": {
        "tags": [
          "Tools"
        ],
        "summary": "Poll the status of an async tool install job.",
        "operationId": "get_tool_install_status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tool",
            "in": "path",
            "description": "Tool ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool install status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolInstallStatusResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Returns the current installation progress and status of a tool. Poll this endpoint after calling install."
      }
    },
    "/api/workspaces/{id}/tools/{tool}/launch": {
      "post": {
        "tags": [
          "Tools"
        ],
        "summary": "Launch a tool in the workspace.",
        "operationId": "launch_tool",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tool",
            "in": "path",
            "description": "Tool ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LaunchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool launch result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolLaunchResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Launches a tool that is installed in the workspace. The tool must be in `installed` or `stopped` status."
      }
    },
    "/api/workspaces/{id}/tools/{tool}/status": {
      "get": {
        "tags": [
          "Tools"
        ],
        "summary": "Get the status of a specific tool.",
        "operationId": "get_tool_status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tool",
            "in": "path",
            "description": "Tool ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolStatus"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Returns the current status of a specific tool in a workspace \u2014 whether it's installed, running, stopped, or not available."
      }
    },
    "/api/workspaces/{id}/tools/{tool}/stop": {
      "post": {
        "tags": [
          "Tools"
        ],
        "summary": "Stop a running tool.",
        "operationId": "stop_tool",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tool",
            "in": "path",
            "description": "Tool ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool stopped",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolStopResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "description": "Stops a running tool in the workspace. The tool can be relaunched later."
      }
    }
  },
  "components": {
    "schemas": {
      "AddSshKeyRequest": {
        "type": "object",
        "required": [
          "name",
          "public_key"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "public_key": {
            "type": "string"
          }
        }
      },
      "AgentStatusResponse": {
        "type": "object",
        "required": [
          "workspace_id",
          "workspace_status",
          "vsock_socket_present",
          "agent_available",
          "fallback_transport"
        ],
        "properties": {
          "agent_available": {
            "type": "boolean"
          },
          "detail": {
            "type": [
              "string",
              "null"
            ]
          },
          "fallback_transport": {
            "type": "string"
          },
          "ip_address": {
            "type": [
              "string",
              "null"
            ]
          },
          "vsock_socket_present": {
            "type": "boolean"
          },
          "workspace_id": {
            "type": "string"
          },
          "workspace_status": {
            "type": "string"
          }
        }
      },
      "AiCredits": {
        "type": "object",
        "required": [
          "remaining",
          "total",
          "mode"
        ],
        "properties": {
          "mode": {
            "type": "string"
          },
          "remaining": {
            "type": "integer",
            "format": "int32"
          },
          "total": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AiUsageDaily": {
        "type": "object",
        "required": [
          "day",
          "input_tokens",
          "output_tokens",
          "credits",
          "requests"
        ],
        "properties": {
          "credits": {
            "type": "integer",
            "format": "int64"
          },
          "day": {
            "type": "string"
          },
          "input_tokens": {
            "type": "integer",
            "format": "int64"
          },
          "output_tokens": {
            "type": "integer",
            "format": "int64"
          },
          "requests": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AiUsageWorkspaceTotal": {
        "type": "object",
        "required": [
          "workspace_id",
          "workspace_name",
          "input_tokens",
          "output_tokens",
          "credits",
          "requests"
        ],
        "properties": {
          "credits": {
            "type": "integer",
            "format": "int64"
          },
          "input_tokens": {
            "type": "integer",
            "format": "int64"
          },
          "output_tokens": {
            "type": "integer",
            "format": "int64"
          },
          "requests": {
            "type": "integer",
            "format": "int64"
          },
          "workspace_id": {
            "type": "string"
          },
          "workspace_name": {
            "type": "string"
          }
        }
      },
      "ApiErrorBody": {
        "type": "object",
        "description": "JSON body returned for all errors.",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ApiErrorDetail"
          }
        }
      },
      "ApiErrorDetail": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "App": {
        "type": "object",
        "required": [
          "id",
          "name",
          "subdomain",
          "user_id",
          "node_id",
          "workspace_id",
          "port",
          "visibility",
          "allowed_emails",
          "status",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "allowed_emails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "id": {
            "type": "string"
          },
          "managed": {
            "type": "boolean"
          },
          "metadata": {},
          "name": {
            "type": "string"
          },
          "node_id": {
            "type": "string"
          },
          "port": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "protocol": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/AppStatus"
          },
          "subdomain": {
            "type": "string"
          },
          "system_tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "user_id": {
            "type": "string"
          },
          "visibility": {
            "$ref": "#/components/schemas/Visibility"
          },
          "workspace_id": {
            "type": "string"
          }
        }
      },
      "AppCatalogItem": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "icon",
          "category",
          "min_ram_mb",
          "min_disk_mb",
          "port",
          "subdomain_suffix"
        ],
        "properties": {
          "category": {
            "type": "string"
          },
          "configurable_params": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParamSpec"
            },
            "description": "User-configurable parameters for this app.\nValues are submitted at install time and resolved via `{PARAM_<KEY>}`\nplaceholders in install scripts, exec_start, and config files."
          },
          "description": {
            "type": "string"
          },
          "destructive_delete": {
            "type": "boolean",
            "description": "If true, deletion destroys user-modifiable files (e.g. scaffolded starter code).\nRequires `?force_delete=true` and the UI renders extra confirmation\n(type app name or check a warning box)."
          },
          "icon": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "incompatible_templates": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Template IDs that already include this app (e.g. `[\"chat-app-starter\"]`).\nInstalling on workspaces created from these templates is blocked."
          },
          "min_disk_mb": {
            "type": "integer",
            "format": "int32",
            "description": "Minimum disk space hint (MB). Informational only \u2014 not enforced.",
            "minimum": 0
          },
          "min_ram_mb": {
            "type": "integer",
            "format": "int32",
            "description": "Minimum RAM hint (MB). Informational only \u2014 not enforced.",
            "minimum": 0
          },
          "name": {
            "type": "string"
          },
          "port": {
            "type": "integer",
            "format": "int32",
            "description": "Internal port the app listens on.",
            "minimum": 0
          },
          "preview": {
            "type": "boolean",
            "description": "Whether this item is in preview (feature-flagged)."
          },
          "subdomain_suffix": {
            "type": "string",
            "description": "Subdomain suffix \u2014 e.g. \"vscode\" \u2192 vscode-{ws_id}.rigbox.dev"
          }
        }
      },
      "AppHealthResponse": {
        "type": "object",
        "required": [
          "live",
          "service_status",
          "port_open"
        ],
        "properties": {
          "live": {
            "type": "boolean",
            "description": "Whether the app responded to an HTTP probe."
          },
          "port_drift": {
            "type": "boolean",
            "description": "True when the service is active but the expected port is not listening."
          },
          "port_open": {
            "type": "boolean",
            "description": "Whether the expected port is listening inside the workspace."
          },
          "service_status": {
            "type": "string",
            "description": "Systemd service status (e.g. \"active\", \"inactive\", \"unknown\", \"unmanaged\")."
          }
        }
      },
      "AppLogSource": {
        "type": "object",
        "required": [
          "id",
          "app_id",
          "source_type",
          "source_ref",
          "is_primary",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "app_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "id": {
            "type": "string"
          },
          "is_primary": {
            "type": "boolean"
          },
          "source_ref": {
            "type": "string"
          },
          "source_type": {
            "$ref": "#/components/schemas/AppLogSourceType"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AppLogSourceType": {
        "type": "string",
        "enum": [
          "systemd_unit",
          "docker_container",
          "file_path"
        ]
      },
      "AppParamsResponse": {
        "type": "object",
        "required": [
          "specs",
          "values"
        ],
        "properties": {
          "specs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParamSpec"
            },
            "description": "The parameter schema (snapshotted at creation time)."
          },
          "values": {
            "type": "object",
            "description": "Current values (from metadata.config). Sensitive values are masked.",
            "additionalProperties": {
              "type": "string"
            },
            "propertyNames": {
              "type": "string"
            }
          }
        }
      },
      "AppStatus": {
        "type": "string",
        "enum": [
          "active",
          "inactive",
          "installing",
          "error"
        ]
      },
      "CatalogResponse": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppCatalogItem"
            }
          }
        }
      },
      "CheckEmailRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string"
          },
          "public_key": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "CheckEmailResponse": {
        "type": "object",
        "required": [
          "exists",
          "key_linked"
        ],
        "properties": {
          "exists": {
            "type": "boolean"
          },
          "key_linked": {
            "type": "boolean"
          }
        }
      },
      "CheckKeyLinkedRequest": {
        "type": "object",
        "required": [
          "user_id",
          "public_key"
        ],
        "properties": {
          "public_key": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          }
        }
      },
      "CheckKeyLinkedResponse": {
        "type": "object",
        "required": [
          "linked"
        ],
        "properties": {
          "linked": {
            "type": "boolean"
          }
        }
      },
      "CompleteWithKeyRequest": {
        "type": "object",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "CompleteWithKeyResponse": {
        "type": "object",
        "required": [
          "success",
          "message"
        ],
[...]
